@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;

1,700&display=swap&subset=cyrillic-ext");
@font-face {
  font-family: "RoundedMplus1c";
  font-display: swap;
  src: url("../fonts/RoundedMplus1c-Black.woff") format("woff"), url("../fonts/RoundedMplus1c-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "RoundedMplus1c";
  font-display: swap;
  src: url("../fonts/RoundedMplus1c-Bold.woff") format("woff"), url("../fonts/RoundedMplus1c-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RoundedMplus1c";
  font-display: swap;
  src: url("../fonts/RoundedMplus1c-ExtraBold.woff") format("woff"), url("../fonts/RoundedMplus1c-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "RoundedMplus1c";
  font-display: swap;
  src: url("../fonts/RoundedMplus1c-Regular.woff") format("woff"), url("../fonts/RoundedMplus1c-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RoundedMplus1c";
  font-display: swap;
  src: url("../fonts/RoundedMplus1c-Medium.woff") format("woff"), url("../fonts/RoundedMplus1c-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "RoundedMplus1c";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "RoundedMplus1c";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 230px;
  min-height: 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #FFF6EF;
  background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFF6EF;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFF6EF;
  -webkit-box-shadow: 0px 7px 8px rgba(97, 123, 163, 0.21);
          box-shadow: 0px 7px 8px rgba(97, 123, 163, 0.21);
  border-radius: 0px 0px 30px 30px;
  padding: 35px 30px 30.5px;
}

.header__social {
  margin-left: auto;
}

.header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social-item {
  margin-left: 30px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.header__social-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.menu__body {
  margin-left: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding: 0 16px;
}

.menu__link {
  line-height: 27px;
  color: #FFFFFF;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__link._active {
  font-weight: 800;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 5px 13px;
  text-decoration: none;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

._no-webp .footer{
  background-image: url("../img/footer/bg.png"); }

.footer {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 191px;
  padding-top: 190px;
}

.footer::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 190px;
  background-image: url("../img/book/wave-bottom.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__form {
  max-width: 485px;
  margin-top: 105px;
  margin-bottom: 184px;
}

.footer__form-title {
  font-weight: 800;
  font-size: 52px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.footer__form-input {
  width: 100%;
  max-width: 470px;
  background: #FFFFFF;
  border-radius: 35px;
  margin-bottom: 30px;
  min-height: 70px;
  padding: 21px 31px;
}

.footer__form-input:last-child {
  margin-bottom: 36px;
}

.footer__form-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.footer__form-button button {
  position: absolute;
  top: 8px;
  left: 175px;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.footer__form-button button:hover {
  text-decoration: underline;
}

.footer__bottom-title {
  font-size: 54px;
  line-height: 82px;
  letter-spacing: -0.005em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 12px;
  border-bottom: 2px solid #FFFFFF;
}

.footer__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__bottom-addres {
  max-width: 480px;
}

.footer__bottom-contacts {
  max-width: 371px;
}

.footer__bottom-contacts p {
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
}

.footer__bottom-social {
  max-width: 170px;
}

.footer__social {
  margin-bottom: 20px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-item {
  margin-right: 10px;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.addres p {
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
}

.addres__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Hero */

._no-webp .hero{
  background-image: url("../img/bg.png"); }

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1082px;
  padding-top: 120.5px;
  position: relative;
}

.hero__info {
  margin-top: 181px;
}

.hero__title {
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 60px;
  /* identical to box height, or 115% */
  color: #FFFFFF;
  margin-bottom: 13px;
}

.hero__text {
  font-size: 18px;
  line-height: 27px;
  max-width: 470px;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.hero__link {
  position: absolute;
  top: 8px;
  left: 35px;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.hero__link:hover {
  text-decoration: underline;
}

.hero__button {
  position: relative;
}

/* New-line */

.new-line {
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), color-stop(94.22%, rgba(255, 255, 255, 0))), #FFF6EE;
  background: -o-linear-gradient(bottom, #FFFFFF 0%, rgba(255, 255, 255, 0) 94.22%), #FFF6EE;
  background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 94.22%), #FFF6EE;
  position: relative;
}

.new-line::before {
  content: "";
  position: absolute;
  top: -132px;
  left: 0;
  width: 100%;
  height: 164px;
  background-image: url("../img/new-line/wave-top.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.new-line__content {
  max-width: 1336px;
  padding: 0 84px;
  margin: 0 auto;
}

.new-line__head {
  position: relative;
  max-width: 617px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.new-line__head::before {
  content: "";
  position: absolute;
  background-image: url("../img/new-line/title-blur.svg");
  width: 527px;
  height: 64px;
  bottom: -56px;
  left: 58px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.new-line__title {
  position: absolute;
  top: 16px;
  left: 2px;
  text-align: center;
  width: 100%;
  font-weight: 800;
  font-size: 46px;
  line-height: 56px;
  color: #D07CC6;
}

.new-line__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new-line__column--left {
  -ms-flex-preferred-size: 298px;
      flex-basis: 298px;
}

.new-line__column--center {
  -ms-flex-preferred-size: 415px;
      flex-basis: 415px;
}

.new-line__column--right {
  -ms-flex-preferred-size: 324px;
      flex-basis: 324px;
}

.new-line__img img {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

.new-line__column--right .new-line__img {
  width: 283px;
}

.new-line__column--center .new-line__img {
  width: 415px;
}

.new-line__column--left .new-line__img {
  width: 294px;
}

.new-line__column--left .new-line__img {
  background-image: url("../img/new-line/column-bg-1.svg");
  background-repeat: no-repeat;
  background-position: top 29px left -28px;
}

.new-line__column--center .new-line__img {
  background-image: url("../img/new-line/column-bg-2.svg");
  background-repeat: no-repeat;
  background-position: top -39px left -56px;
}

.new-line__column--right .new-line__img {
  background-image: url("../img/new-line/column-bg-3.svg");
  background-repeat: no-repeat;
  background-position: top 84px left -27px;
}

.new-line__text {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #D07CC6;
}

.new-line__column-title {
  font-weight: 800;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  color: #D07CC6;
  margin-bottom: 18px;
}

/* Vitamins */

._no-webp .vitamins{
  background-image: url("../img/vitamin/bg.png"); }

.vitamins {
  min-height: 100vh;
  padding-bottom: 90px;
}

.vitamins__title {
  text-align: center;
}

.vitamins__hover-title {
  display: none;
}

.vitamins__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 150px;
  margin: 0 -15px;
}

.vitamins__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 30px);
          flex: 0 1 calc(25% - 30px);
  padding: 0 15px;
}

.vitamins__link {
  font-weight: 800;
  font-size: 26px;
  line-height: 28px;
  color: #D07CC6;
}

.vitamins__img {
  margin-bottom: 10px;
  max-width: 245px;
}

.vitamins__img img {
  max-width: 100%;
}

._no-webp .vitamins__slider-wrapper{
  background-image: url("../img/vitamin/slider-bg.png"); }

.vitamins__slider-wrapper {
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 741px;
  margin-top: 227px;
}

.vitamins__slider {
  padding: 50px 15px;
}

.vitamins__slide-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vitamins__slide-img {
  -ms-flex-preferred-size: 749px;
      flex-basis: 749px;
}

.vitamins__slide-desc {
  -ms-flex-preferred-size: 670px;
      flex-basis: 670px;
  padding-right: 55px;
  padding-left: 15px;
}

.vitamins__slide-desc h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 56px;
  color: #D07CC6;
}

.vitamins__slide-desc span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FF5F4E;
}

.vitamins__slide-title {
  font-weight: 800;
  font-size: 52px;
  line-height: 60px;
  color: #FF5F4E;
  margin-bottom: 7px;
}

.vitamins__slide-text {
  margin-bottom: 35px;
}

.vitamins__slide-text p {
  font-size: 18px;
  line-height: 27px;
  color: #D07CC6;
}

.vitamins__slide-text strong {
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  color: #D07CC6;
}

.vitamins__slide-list {
  margin-bottom: 150px;
}

.vitamins__slide-list li {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  color: #D07CC6;
  padding-left: 20px;
}

.vitamins__slide-list li:before {
  content: "";
  position: absolute;
  background-image: url("../img/vitamin/list-icon.svg");
  width: 14px;
  height: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.vitamins__slide-button {
  position: absolute;
  top: 8px;
  left: 26px;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.vitamins__slide-button:hover {
  text-decoration: underline;
}

.vitamins__button {
  position: relative;
}

._no-webp .slick-prev.slick-arrow{
  background-image: url("../img/vitamin/arrow-l.png"); }

.slick-prev.slick-arrow {
  position: absolute;
  top: 50%;
  left: -30px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  z-index: 11;
}

.slick-next.slick-arrow {
  position: absolute;
  top: 50%;
  right: -30px;
  font-size: 0;
  background-image: url("../img/vitamin/arrow-r.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.slick-list.draggable {
  overflow: visible;
}

._no-webp .recommend{
  background-image: url("../img/recomend/bg.png"); }

.recommend {
  background-color: #FFEADB;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 85px 0 190px;
}

.recommend__title {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 27px;
  color: #FFFFFF;
}

.recommend__item {
  max-width: 540px;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.recommend__item h3 {
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 6px;
}

.recommend__item p {
  font-size: 18px;
  line-height: 22px;
}

.book {
  position: relative;
  background-color: #FFF6EE;
}

.book::before {
  content: "";
  position: absolute;
  top: -189px;
  left: 0;
  width: 100%;
  height: 190px;
  background-image: url("../img/book/wave-top.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.book__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 643px;
          flex: 0 0 643px;
}

.book__desc {
  display: block;
}

.book__desc-title {
  padding-top: 192px;
  font-weight: 800;
  font-size: 52px;
  line-height: 60px;
  color: #D07CC6;
  margin-bottom: 32px;
  max-width: 493px;
}

.book__desc-text {
  font-size: 18px;
  line-height: 27px;
  color: #D07CC6;
  margin-bottom: 20px;
  max-width: 470px;
}

.book__desc-link {
  display: inline-block;
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  color: #D07CC6;
  max-width: 441px;
}

.book__desc-logo {
  display: block;
  margin-top: 21px;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

._webp .footer{ background-image: url(../img/footer/bg.webp); }

._webp .hero{ background-image: url(../img/bg.webp); }

._webp .vitamins{ background-image: url(../img/vitamin/bg.webp); }

._webp .vitamins__slider-wrapper{ background-image: url(../img/vitamin/slider-bg.webp); }

._webp .slick-prev.slick-arrow{ background-image: url(../img/vitamin/arrow-l.webp); }

._webp .recommend{ background-image: url(../img/recomend/bg.webp); }