.card {
    
    border-radius: 6px;
    max-width: 264px;
    min-height: 449px;
    overflow: hidden;
    transition: all 0.2s linear;
    position: relative;
    // margin: 0 auto;

    @media (max-width: 520px) {
        box-shadow: 0px 10px 50px rgb(76 81 96 / 16%);
    }
    &__header {
        
    }
    &__labels {
        position: absolute;
        top: 16px;
        left: 16px;
        display: inline-grid;
    }
    &__label {
        padding: 4px 14px 2px;
        border-radius: 100px;
        font-size: 12px;
        line-height: 150%;
        margin-bottom: 15px;
        &--new {
            
            background: #FBECF8;
        }
        &--count {
            
            background: #B0E9DE;
        }
    }
    &__img {
        height: 260px;
        margin-bottom: 17px;
        text-align: center;
        padding: 8px 0;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__img-link {

    }
    &__body {
        margin-bottom: 19px;
        padding-left: 16px;
        padding-right: 19px;
    }
    &__title {
        font-family: 'Intro';
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 5px;
        max-width: 182px;
    }
    &__link {
        color: inherit;
    }
    &__text {
        font-size: 14px;
        line-height: 160%;
        color: #676F77;
    }
    &__footer {
        padding: 0px 16px 19px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__price {
        flex: 2;
        span {
            display: inline-block;
            font-family: 'Intro';
            font-size: 12px;
            line-height: 125%;
            color: #B6BEC6;
            margin-bottom: 3px;
            text-decoration: line-through;
        }
        p {
            font-family: 'Intro';
            font-weight: bold;
            font-size: 18px;
            line-height: 125%;
        }   
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 3;
    }
    &__button {
    }
    &__button-cart {
        background: #E4E8EC;
        border-radius: 4px;
        padding: 9px 20px;
        transition: all 0.3s linear;

        svg {
             transition: all 0.3s linear;
             fill: #676F77;
            
        }

        &:hover {
            background: #ED6109;
           
                svg {
                    fill: #fff;
                }
            
        }
         
    }

}

.card-containder {
    display: flex;
    gap: 30px;
}

.card:hover {
    transform: scale(1.03);
    @media (min-width: 400px) {
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(76, 81, 96, 0.16);
    }
}