.cart {
    padding-bottom: 120px;
    &__header {
        margin-bottom: 11px;
        display: flex;
        align-items: center;
    }
    &__header-title {
        font-family: "Intro";
        font-weight: bold;
        font-size: 48px;
        line-height: 120%;
        margin-right: 70px;

        @media (max-width: 780px) {
            font-size: 32px;
        }
    }
    &__header-button {

        @media (max-width: 548px) {
            display: none;
        }
    }
    &__body {
        margin-bottom: 68px;
    }
    &__footer {
    }
    &__body-button {
        display: block;
        font-size: 13px;
        line-height: 150%;
        margin-left: auto;
        margin-bottom: 30px;
    }
    &__body-row {
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e9ecee;

        @media (max-width: 780px) {
            flex-wrap: wrap;
        }
        @media (max-width: 400px) {
            gap: 10px;
        }
    }

    &__img {
        margin-right: 40px;
        width: 64px;
        height: 64px;

        img {
            max-width: 100%;
        }

        @media (max-width: 400px) {
            margin-right: 15px;
        }
    }
    &__head {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    &__product-code {
        font-size: 11px;
        line-height: 150%;
        color: #676f77;
    }
    &__product-link {
        color: inherit;
        font-size: 14px;
        line-height: 160%;
    }
    &__price {
        margin-left: auto;
        p {
            font-weight: 700;
            font-size: 14px;
            line-height: 160%;
            white-space: nowrap;
        }
    }
    &__count {
        margin-left: 94px;

        @media (max-width: 400px) {
            margin-left: 70px;
        }
    }
    &__button-delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #676f77;
        flex: 0 1 20px;
        margin-left: 102px;

        @media (max-width: 400px) {
            margin-left: 70px;
        }
    }

    &__footer {
        display: flex;
        align-items: center;

        @media (max-width: 960px) {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 30px;
        }
        @media (max-width: 636px) {
            flex-wrap: wrap-reverse;
        }
        @media (max-width: 589px) {
             gap: 30px; 
         }
    }
    &__footer-button {
    }
    &__footer-wrap {
        margin-left: auto;
        display: flex;
        align-items: center;

        @media (max-width: 636px) {
            margin-left: 0;
            order: 1;
        }
         
    }
    &__footer-title {
        font-family: "Intro";
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 3px;
    }
    &__footer-subtitle {
        font-family: "Intro-Book";
        display: block;
        font-size: 13px;
        line-height: 150%;
    }
    &__footer-total__price {
        font-family: "Intro";
        font-weight: bold;
        font-size: 32px;
        line-height: 130%;
        margin-left: 48px;
        white-space: nowrap;

        @media (max-width: 400px) {
            margin-left: 30px;
        }
    }

    &__row-inner {
        margin-left: auto;
        display: flex;
        align-items: center;

        @media (max-width: 738px) {
            margin-left: 0;
        }
    }
    &__footer-head {
        display: flex;
        align-items: center;
    }
}

.cart-button {
    border: 1px solid #676f77;
    border-radius: 4px;
    font-size: 16px;
    line-height: 170%;
    padding: 11px 40px;
    max-width: 245px;
    width: 100%;
    margin-right: 20px;

    @media (max-width: 589px) {
        margin-right: 0;
        max-width: 100%;
    }

}

.cart-button--order {
    background: linear-gradient(90deg, #ee6409 0%, #f77d0c 100%);
    border-radius: 4px;
    color: #fff;
    border: none;
    margin-left: 48px;

    @media (max-width: 960px) {
        margin-left: 30px;
    }
     @media (max-width: 589px) {
        margin-left: 0;
        max-width: 100%;
    }

    
}
