.filter {
    &__content {
        padding-bottom: 15px;
    }
    &__body {
    }
    &__section {
        border-top: 1px solid #dedede;

        &:first-child {
            border: none;
        }

        @media (max-width: 720px) {
            border: none;
            flex: 0 1 50%;
        }
        @media (max-width: 440px) {
            
            flex: 0 1 calc(50% - 20px);
        }
    }
}

.section-filter {
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-size: 16px;
        line-height: 170%;
        margin-bottom: 14px;
        padding-top: 12px;
        position: relative;
       

         &::after {
            content: "";
            border-radius: 50%;
            flex: 0 0 30px;
            width: 30px;
            height: 30px;
            background: url('../../img/icons/filter-arrow.svg') center no-repeat;
            transform: rotate(180deg);
            transition: transform 0.2s linear;

            @media (max-width: 720px) {
                 background: none;
            }
        }

       
        
    }
    &__title._active {
         &::after {
             transform: rotate(0);
             
         }
    }
    &__body {
        padding-bottom: 40px;
    }
    
    
}
.price-filter {
    &__slider {
    }
    &__values {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 26px;
    }
}

.values-price-filter {
    &__column {
        @media (max-width: 720px) {
            flex: 1 1 auto;
        }
    }
    &__label {
    }
    &__input {
        input {
            border: 1px solid #dedede;
            border-radius: 4px;
            width: 94px;
            height: 40px;

            @media (max-width: 720px) {
                width: 100%;
            }
        }
    }
}

.filter__btn {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 150%;
    color: #676f77;

    img {
        margin-left: 15px;
    }
}

