.header {
	&__container {

	}
	&__top {
		
		background-color: #3B3B3B;
		
	}
	&__top-list {}
	&__top-phone {
		font-family: 'Intro';
		font-weight: bold;
		font-size: 12px;
		line-height: 150%;
		color: #FFFFFF;
	}
	&__top-content {
		display: flex;
		justify-content: space-between;
		min-height: 32px;
		align-items: center;
		ul {
			display: flex;
			align-items: center;
			li {
				margin-right: 40px;
				&:last-child {
					margin-right: 0;
				}
				a {
					font-size: 13px;
					line-height: 150%;
					color: #DADADA;
				}
			}
		}
	}
	&__center {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 0;
	}
	&__logo {
		margin-right: 76px;
	}
	&__search {
		max-width: 454px;
		width: 100%;
		margin-right: 119px;
		display: flex;

		input {
			width: 100%;
			background: #F3F3F3;
			border-radius: 4px;
			padding: 15px;
		}
		button {
			margin-left: -35px;
		}
	}
	&__actions {
		display: flex;
		justify-content: space-between;
		a {
			display: grid;
			justify-items: center;
			align-items: center;
			margin-right: 22px;
			&:last-child {
				margin-right: 0;
			}
		}
		a > img {
			display: block;
			
			margin-bottom: 10px;
		}
		.header__cart {
			display: flex;
			img {
				margin-right: 14px;
				margin-bottom: 0;
			}
		}
		
	}
	&__actions-wrap {
		display: flex;
		margin-right: 45px;
		a {
			font-size: 11px;
			line-height: 150%;
			color: #676F77;
		}
	}
	&__compare {
		
	}
	&__favorites {}
	&__login {
		
	}
	&__cart {
		white-space: nowrap;
		border: 1px solid #B6BEC6;
		border-radius: 4px;
		padding: 12px 19px;
		span {
			font-size: 13px;
			line-height: 150%;
			color: #000000;
		}
	}
	&__bottom {

	}
	&__menu {}
}


.menu {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		min-width: 200vw;
		left: -50%;
		top: 0;
		border-top: 1px solid #D6DCE1;
	}
	&__icon {}
	&__body {}
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	&__item {}
	&__item-create {
		img {
			margin-right: 10px;
		}
	}
	&__link {
		color: inherit;
		font-family: 'Intro';
		font-size: 14px;
		line-height: 160%;
		text-transform: uppercase;
	}
}



/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
