.header {
	&__container {
	}
	&__top {
		background-color: #3b3b3b;
		position: relative;
		z-index: 5;
		@media (max-width: 620px) {
			display: none;
		}
	}
	&__top-list {

		li a {
			font-size: 16px;
			line-height: 170%;
			color: #3B3B3B;
		}

		@media (max-width: 620px) {
			display: flex;
			flex-wrap: wrap;

			li {
				flex: 0 1 50%;
			}
			margin-bottom: 34px;
		}
	}
	&__top-phone {
		font-family: "Intro";
		font-weight: bold;
		font-size: 12px;
		line-height: 150%;
		color: #ffffff;

		@media (max-width: 620px) {
			font-family: 'Intro';
			font-weight: bold;
			font-size: 36px;
			line-height: 150%;
			color: #000000;
			// text-align: center;
		}
		@media (max-width: 375px) {
			font-size: 26px;
		}
	}
	&__top-content {
		display: flex;
		justify-content: space-between;
		min-height: 32px;
		align-items: center;
		ul {
			display: flex;
			align-items: center;
			li {
				margin-right: 40px;
				&:last-child {
					margin-right: 0;
				}
				a {
					font-size: 13px;
					line-height: 150%;
					color: #dadada;
				}
			}
		}
	}
	&__center {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 0;
		position: relative;
		z-index: 5;
	}
	&__logo {
		margin-right: 76px;

		@media (max-width: 870px) {
			margin-right: 50px;
		}
		@media (max-width: 780px) {
			margin-right: 30px;
		}
		@media (max-width: 320px) {
			margin-right: 20px;
		}
	}
	&__search {
		max-width: 454px;
		width: 100%;
		margin-right: 119px;
		display: flex;

		input {
			width: 100%;
			background: #f3f3f3;
			border-radius: 4px;
			padding: 15px;
		}
		button {
			margin-left: -35px;
		}

		@media (max-width: 870px) {
			margin-right: 50px;
		}
		@media (max-width: 780px) {
			margin-right: 30px;
		}
		@media (max-width: 720px) {
			margin-bottom: 28px;
			max-width: 100%;
		}
	}
	&__actions {
		display: flex;
		justify-content: space-between;
		a {
			display: grid;
			justify-items: center;
			align-items: center;
			margin-right: 22px;
			&:last-child {
				margin-right: 0;
			}
		}
		a > img {
			display: block;

			margin-bottom: 10px;
		}
		.header__cart {
			display: flex;
			img {
				margin-right: 14px;
				margin-bottom: 0;
			}
		}
	}
	&__actions-wrap {
		display: flex;
		margin-right: 45px;
		a {
			font-size: 11px;
			line-height: 150%;
			color: #676f77;
		}

		@media (max-width: 780px) {
			margin-right: 30px;
		}
		@media (max-width: 720px) {
			margin-right: 0;
			margin-bottom: 21px;
			justify-content: space-between;

			a {
				display: grid;
				justify-items: center;
				
			}
		}
		@media (min-width: 620px) and (max-width: 720px) {
			margin-top: 20px;
		}
	}
	&__compare {
	}
	&__favorites {
	}
	&__login {
	}
	&__cart {
		white-space: nowrap;
		border: 1px solid #b6bec6;
		border-radius: 4px;
		padding: 12px 19px;
		span {
			font-size: 13px;
			line-height: 150%;
			color: #000000;
		}
	}
	&__cart-wrap {

		@media (max-width: 720px) {
			margin-right: 60px;
		}
	}
	&__bottom {
	}
	&__menu {
	}
}

.menu {
	position: relative;
	padding: 15px 0;
	&::after {
		content: "";
		position: absolute;
		min-width: 200vw;
		left: -50%;
		top: 0;
		border-top: 1px solid #d6dce1;
	}
	&__icon {
	}
	&__body {
		transition: left 0.3s ease 0s;
		@media (max-width: 720px) {
			position: fixed;
			height: calc(100% - 73px);
			width: 100%;
			bottom: 0;
			left: -100%;
			overflow: auto;
			z-index: 12;
			padding: 30px;
			padding-top: 24px;
		}
	}
	&__body._active {
		left: 0;
		background: #ffffff;
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-around;

		@media (max-width: 720px) {
			margin-bottom: 47px;
			display: block;
		}
	}
	&__item {

		@media (max-width: 720px) {
			margin-bottom: 18px;
		}
	}
	&__item-create {
		img {
			margin-right: 10px;
		}
	}
	&__link {
		color: inherit;
		font-family: "Intro";
		font-size: 14px;
		line-height: 160%;
		text-transform: uppercase;

		@media (max-width: 780px) {
			font-size: 12px;
		}
		@media (max-width: 720px) {
			font-size: 16px;
		}
	}

	@media (max-width: 720px) {
		padding: 0;
	}
}

.icon-menu {
	display: none;
	@media (max-width: 720px) {
		position: absolute;

		display: block;
		right: 0;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}


