.team {
    @include adaptiv-value("padding-bottom", 144, 72, 1);
    &__content {
        max-width: 1092px;
        position: relative;
    }
    &__inner {
        @include adaptiv-value("padding-top", 100, 30, 1);
        display: flex;
        margin-bottom: 48px;
        @media (max-width: 868px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__info {
        @include adaptiv-value("margin-right", 75, 30, 1);
        img {
            margin-bottom: 32px;
        }
        @media (max-width: 868px) {
            flex: 0 1 auto;
            margin-bottom: 24px;
            margin-right: 0;
        }
        @media (max-width: 740px) {
            text-align: center;
        }
    }
    &__info-title {
        max-width: 438px;
        margin-bottom: 16px;

        @media (max-width: 868px) {
            max-width: 100%;
        }
    }
    &__info-text {
        line-height: 150%;
        max-width: 406px;
        @media (max-width: 868px) {
            max-width: 100%;
        }
    }
    &__advantages {
        @media (max-width: 868px) {
            flex: 0 1 auto;
        }
    }
    &__advantages-list {
        display: flex;
        flex-wrap: wrap;

        column-gap: 25px;
        row-gap: 17px;
        @media (min-width: 480px) {
            width: 435px;
        }
        @media (max-width: 480px) {
            justify-content: center;
            gap: 16px;
        }
    }
    &__advantages-item {
        flex: 0 1 auto;
        background: linear-gradient(236.29deg, #ffffff 29.99%, #f4f9ff 79.17%);
        box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
        border-radius: 10px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.3s linear;
        h3 {
            font-weight: bold;
            line-height: 100%;
            margin-bottom: 11px;
            background: linear-gradient(180deg, #4614E8 0%, #BCA7FF 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #7247ff;
        }
        span {
            font-weight: bold;
            font-size: 16px;
            line-height: 100%;
            @media (max-width: 480px) {
                font-size: 10px;
            }
        }
        p {
            @media (max-width: 480px) {
                font-size: 10px;
            }
        }

        &:nth-child(1) h3 {
            font-size: 48px;
            @media (max-width: 480px) {
                font-size: 30px;
            }
        }
        &:nth-child(1) {
            padding: 32px;
            @media (max-width: 480px) {
                font-size: 30px;
                padding: 16px;
            }
        }
        &:nth-child(2) h3 {
            font-size: 36px;
        }
        &:nth-child(2) {
            align-self: end;
            @media (max-width: 480px) {
                padding: 16px;
            }
            h3 {
                @media (max-width: 480px) {
                    font-size: 30px;
                }
            }
        }
        &:nth-child(3) h3 {
            font-size: 36px;
        }
        &:nth-child(3) {
            margin-left: 32px;
            align-self: start;
            h3 {
                @media (max-width: 480px) {
                    font-size: 30px;
                }
            }
            @media (max-width: 480px) {
                font-size: 30px;
                padding: 16px;
                margin-left: 0;
            }
        }
        &:nth-child(4) h3 {
            font-size: 16px;
        }
        &:nth-child(4) {
            min-height: 171px;
            min-width: 192px;
            padding: 32px;
            h3 {
                @media (max-width: 480px) {
                    font-size: 14px;
                }
            }
            @media (max-width: 480px) {
                padding: 16px;

                min-width: auto;
                min-height: auto;
            }
        }
        &:hover {
            transform: translateX(10px);
        }
    }
    &__cards {
    }
    &__cards-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #303030;
        margin-bottom: 31px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        @media (max-width: 875px) {
            grid-template-columns: repeat(auto-fill, minmax(280px, 343px));
            justify-content: center;
        }
    }
    &__card {
        padding: 32px;
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s linear;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 16px;
        }
        &:hover {
            transform: scale(1.03);
        }
    }
    &__card-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        color: #303030;
        margin-bottom: 16px;
    }
    &__card-text {
        line-height: 150%;
        max-width: 279px;
    }
}

/* Animation */

@media (max-width: 768px) {
    .shape-1 {
        display: none;
    }
    .shape-2 {
        display: none;
    }
    .shape-3 {
        display: none;
    }
}

@media (min-width: 768px) {
    .shape-1 {
        position: absolute;
        top: 15px;
        right: 40px;
        z-index: -1;
        animation: animationFramesOne 20s infinite linear;
    }
    .shape-2 {
        position: absolute;
        top: 258px;
        right: 515px;
        z-index: -1;
        animation: animationFramesTwo 20s infinite linear;
    }
    .shape-3 {
        position: absolute;
        top: 312px;
        right: 327px;
        z-index: -1;
        animation: animationFramesThree 20s infinite linear;
    }
}

@keyframes animationFramesOne {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    20% {
        -webkit-transform: translate(73px, -1px);
    }
    40% {
        -webkit-transform: translate(141px, 72px);
    }
    60% {
        -webkit-transform: translate(83px, 122px);
    }
    80% {
        -webkit-transform: translate(-40px, 72px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
    }
}
@keyframes animationFramesTwo {
    0% {
        -webkit-transform: translate(0px, 0px) scale(1);
    }
    20% {
        -webkit-transform: translate(73px, -1px) scale(0.9);
    }
    40% {
        -webkit-transform: translate(141px, 72px) scale(1);
    }
    60% {
        -webkit-transform: translate(83px, 122px) scale(1.2);
    }
    80% {
        -webkit-transform: translate(-40px, 72px) scale(1.1);
    }
    100% {
        -webkit-transform: translate(0px, 0px) scale(1);
    }
}
@keyframes animationFramesThree {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    20% {
        -webkit-transform: translate(73px, -1px) scale(0.9);
    }
    40% {
        -webkit-transform: translate(141px, 72px) scale(1);
    }
    60% {
        -webkit-transform: translate(83px, 122px) scale(1.2);
    }
    80% {
        -webkit-transform: translate(-40px, 72px) scale(1.1);
    }
    100% {
        -webkit-transform: translate(0px, 0px) scale(1);
    }
}
