.choice {
	margin-top: 38px;

	margin-bottom: 64px;

    @media (max-width: 455px) {
        margin-bottom: 40px;
    }

	/* .choice__container */
	&__container {
	}
	/* .choice__body */
	&__body {
		display: flex;
		justify-content: space-between;
		padding: 20px 30px 30px;
		background: #eff0f0;
		border-radius: 11px;

		@media (max-width: 1375px) {
			flex-direction: column;
            align-items: center;
			row-gap: 50px;
		}
		@media (max-width: 620px) {
			margin-top: 60px;
		}
		@media (max-width: 555px) {
			background-color: #fff;
			padding: 0;
		}
	}
	/* .choice__llist */
	&__llist {
		display: grid;
		grid-template-columns: repeat(auto-fit, 138px);
		grid-template-rows: repeat(8, 28px);
		max-height: 320px;
		max-width: 800px;
		justify-content: space-between;
		gap: 15px;

		@media (max-width: 1375px) {
			max-height: unset;
		}

        @media (max-width: 820px) {
            grid-template-columns: repeat(4, 138px);
            column-gap: 30px;
			grid-template-rows: auto;
        }
        @media (max-width: 720px) {
            grid-template-columns: repeat(3, 138px);
            column-gap: 30px;
			grid-template-rows: auto;
        }

		@media (max-width: 555px) {
			grid-template-columns: repeat(3, 1fr);
			
			grid-template-rows: auto;
			justify-items: center;
		}
		@media (max-width: 320px) {
			justify-items: start;
		}
	}
	/* .choice__item */
	&__item {
		flex: 1 1 auto;
	}
	/* .choice__link */
	&__link {
		display: flex;
		align-items: center;

        &:hover {
            text-decoration: underline;
        }
	}
	/* .choice__logo */
	&__logo {
		margin-right: 10px;
		@media (max-width: 555px) {
			display: none;
			margin-right: 0;
		}
	}
	/* .choice__name */
	&__name {
	}
	/* .choice__form */
	&__form {
		display: flex;
		flex-direction: column;
	}
    &__form-inner {
        @media (max-width: 455px) {
            flex-direction:column;
        }
    }
	&__selection {
		max-width: 490px;
		width: 100%;

		@media (max-width: 1375px) {
			max-width: 708px;
			width: 100%;
		}

		@media (max-width: 555px) {
			background-color: #eff0f0;
			border-radius: 11px;
			padding: 20px;
		}
	}
	&__selection-title {
		font-weight: 900;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 22px;

		@media (max-width: 555px) {
			font-size: 20px;
			line-height: 23px;
		}
	}
}

.range-slider {
	min-height: 75px;
}

#slider-value {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: right;
	padding-bottom: 5px;
}

.choice__form-inner {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-top: 20px;
	margin-bottom: 25px;
}

.select_choice__form-select {
	flex: 0 1 50%;
}

.choice__form-btn {
	min-height: 65px;
}

.noUi-handle:before,
.noUi-handle:after {
	display: none;
}

.noUi-horizontal .noUi-handle {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #ca0100;
	right: -7px;
	top: -5px;
}

.noUi-horizontal {
	height: 6px;
}

.noUi-target {
	background-color: #e1e1e1;
}

.noUi-handle {
	border: 1px solid #ca0100;
	box-shadow: none;
}

.noUi-value {
	padding-top: 5px;
	font-weight: 700;
	font-size: 11px;
	line-height: 13px;
	color: #adadb0;
}

#range .noUi-connect {
	background-color: #ca0100;
}

.noUi-marker-horizontal.noUi-marker-sub {
	height: 8px;
}

.noUi-marker-horizontal.noUi-marker-large {
	height: 8px;
}
