.credit {
	margin-bottom: 72px;


    @media (max-width: 768px) {
        margin-bottom: 40px;
    }

	/* .credit__container */
	&__container {
	}
	/* .credit__title */
	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 47px;
		margin-bottom: 37px;

		@media (max-width: 480px) {
			font-size: 20px;
			line-height: 23px;
			margin-bottom: 20px;
		}
	}
	/* .credit__body */
	&__body {
		display: flex;
		column-gap: 30px;

		@media (max-width: 1180px) {
			row-gap: 40px;
			flex-wrap: wrap;
		}
	}
	/* .credit__form-wrapper */
	&__form-wrapper {
	}
	/* .credit__form-top */
	&__form-top {
		display: flex;
		gap: 18px;
		background: #c2c2c4;
		border-radius: 25px;
		padding: 23px;
		margin-bottom: 25px;

		@media (max-width: 768px) {
			background-color: unset;
			padding: 0;
			margin-bottom: 30px;
		}

		@media (max-width: 700px) {
			flex-direction: column;
		}
	}

	/* .credit__select */

	&__select {
	}
	/* .credit__calc */
	&__calc {
	}
	/* .credit__calc-img */
	&__calc-img {
		margin-bottom: 22px;
		@media (max-width: 700px) {
			text-align: center;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	/* .credit__calc-info */
	&__calc-info {
	}
	/* .credit__form-profit */
	&__form-profit {
	}
}
.credit-wrapper {
	max-width: 1870px;
	margin: 0 15px;
	background: #eff0f0;
	border-radius: 25px;
	padding-top: 80px;
	padding-bottom: 135px;

	@media (max-width: 1180px) {
		padding: 60px 20px;
	}

	@media (max-width: 768px) {
		padding: 35px 20px;
	}

	@media (max-width: 480px) {
		padding: 35px 0;
	}
}
.calc {
	display: flex;
	column-gap: 52px;

	@media (max-width: 700px) {
		flex-direction: column;
	}

	/* .calc__slider-sum */
	&__slider-sum {
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 10px;
		}
		margin-bottom: 34px;
	}
	/* .calc__slider-time */
	&__slider-time {
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 10px;
		}
	}
	/* .calc__total */
	&__total {
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		@media (max-width: 700px) {
			margin-top: 30px;
		}

		@media (max-width: 380px) {
			gap: 10px;
		}

		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			max-width: 156px;

			@media (max-width: 768px) {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
	/* .calc__input */
	&__input {
		max-width: 250px;
		width: 100%;
		height: 63px;
		border: 1px solid #e1e1e1;
		border-radius: 6px;
		padding: 20px 25px;
	}
	/* .calc__input-pay */
	&__input-pay {
	}
}
.calc-column {
	/* .calc-column__left */
	&__left {
		flex: 0 1 46%;
	}
	/* .calc-column__right */
	&__right {
		flex: 0 1 49%;

		display: flex;
		flex-direction: column;

		@media (max-width: 480px) {
			padding: 0 10px;
		}
	}
}
.calc-info {
	/* .calc-info__label */
	&__label {
		display: flex;
		justify-content: space-between;
		span {
			display: inline-block;
			background: #adadb0;
			border-radius: 30px;
			font-weight: 900;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: #ffffff;
			padding: 1px 30px;
			margin-bottom: 13px;
		}
	}
	/* .calc-info__line */
	&__line {
		border: 6px solid #e1e1e1;
		border-radius: 25px;
		margin-bottom: 9px;
	}
	&__line-wrap {
		display: flex;
		justify-content: space-between;
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: #adadb0;
			&:nth-child(2) {
				text-align: right;
			}
		}

		@media (max-width: 700px) {
			margin-bottom: 30px;
		}
	}
}
.profit-form {
	background-color: #ffffff;
	border-radius: 25px;
	padding: 40px 30px 78px;

	@media (max-width: 1180px) {
		padding-bottom: 40px;
	}

	@media (max-width: 920px) {
		padding: 0;
		padding-top: 25px;
		border-top: 1px solid #e1e1e1;
		border-radius: 0;
		background-color: unset;
	}

	&__body {
		display: flex;
		flex-direction: column;

		@media (max-width: 1180px) {
			flex-direction: row;
			gap: 20px;
		}

		@media (max-width: 768px) {
			gap: 10px;
		}

		@media (max-width: 740px) {
			flex-direction: column;
		}
	}

	/* .profit-form__title */
	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 34px;
		margin-bottom: 13px;
		span {
			color: #ca0100;
		}

		@media (max-width: 768px) {
			font-size: 20px;
			line-height: 23px;
		}
		@media (max-width: 380px) {
			max-width: 200px;
		}
	}
	/* .profit-form__input */
	&__input {
		height: 63px;
		padding: 18px 25px;
		border: 1px solid #e1e1e1;
		border-radius: 6px;
	}
	&__input:not(:last-child) {
		margin-bottom: 10px;
	}
	/* .profit-form__btn */
	&__btn {
		margin-bottom: 22px;
		height: 65px;

		@media (max-width: 768px) {
			font-size: 16px;
			line-height: 19px;
		}
	}
	/* .profit-form__term */
	&__term {
		font-weight: 400;
		font-size: 13px;
		line-height: 130%;
		text-align: center;
		color: #737373;

		a {
			text-decoration: underline;
		}
	}
}

.select_credit__select {
	flex: 0 1 33.333%;

	.select__content {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;

		color: #262626;
	}
	.select__value {
		padding: 12px 19px;
		min-height: 46px;
	}
}

.credit-column-left {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.credit-column-right {
	flex-basis: 447px;

	@media (max-width: 1180px) {
		flex-basis: 100%;
	}
}

.slider-range .noUi-connect {
	background-color: #ca0100;
}

.slider-range .noUi-marker {
	display: none;
}

.range-slider__value {
}

@media (max-width: 1180px) {
	.profit-form__body > * {
		flex: 0 1 33.333%;
	}
}
