.review {
	margin-bottom: 114px;

	@media (max-width: 768px) {
		margin-bottom: 60px;
	}
	/* .review__container */
	&__container {
	}
	/* .review__title */
	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 47px;
		margin-bottom: 44px;

		@media (max-width: 768px) {
			font-size: 30px;
			line-height: 35px;
			margin-bottom: 25px;
		}
	}
	/* .review__wrapper */
	&__wrapper {
		display: flex;
		gap: 29px;
		margin-bottom: 100px;
		@media (max-width: 1080px) {
			overflow: auto;
		}

		@media (max-width: 768px) {
			margin-bottom: 40px;
		}

		@media (max-width: 440px) {
			gap: 10px;
		}
	}
	/* .review__card */
	&__card {
		flex: 0 1 33.333%;
		max-width: 446px;

		@media (max-width: 1080px) {
			min-width: 325px;
		}

		@media (max-width: 440px) {
			min-width: 270px;
		}
	}
	/* .review__card-header */
	&__card-header {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #262626;
		border-radius: 25px 25px 0px 0px;
		min-height: 290px;
		background-image: url('../img/review-card-bg.png');
		background-repeat: no-repeat;
		background-position: 50%;

		@media (max-width: 440px) {
			min-height: 220px;
		}
	}
	/* .review__card-play */
	&__card-play {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #ca0100;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		position: relative;
		z-index: 2;

		&::after {
			content: '';
			position: absolute;
			background-color: rgb(202, 1, 0.3);
			border-radius: 50%;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			animation: playCircleTwo 2s infinite linear;

			z-index: -1;
		}
		&::before {
			content: '';
			position: absolute;
			background-color: rgb(202, 1, 0.3);
			border-radius: 50%;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			animation: playCircleOne 2s infinite linear;
			z-index: -1;
		}
	}
	/* .review__card-icon */
	&__card-icon {
		color: #f2f2f2;

		svg {
			width: 9px;
			height: 9px;
		}
	}
	/* .review__card-body */
	&__card-body {
		padding: 32px 30px 40px;
		background: #f2f2f2;
		border-radius: 0px 0px 25px 25px;

		@media (max-width: 440px) {
			padding: 20px;
		}
	}

	/* .review__about */
	&__about {
		margin-bottom: 114px;

		@media (max-width: 1080px) {
			margin-bottom: 70px;
		}
		@media (max-width: 768px) {
			margin-bottom: 40px;
		}
	}
	/* .review__about-title */
	&__about-title {
		font-weight: 700;
		font-size: 40px;
		line-height: 47px;
		text-align: center;
		margin-bottom: 30px;

		@media (max-width: 768px) {
			font-size: 30px;
			line-height: 35px;
			margin-bottom: 20px;
		}
	}
	/* .review__about-text */
	&__about-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		text-align: center;

		color: #737373;
		margin-bottom: 49px;

		@media (max-width: 768px) {
			font-size: 14px;
			line-height: 150%;
			margin-bottom: 30px;
		}
	}
	/* .review__about-video */
	&__about-video {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		img {
			max-width: 100%;
			height: auto;

			@media (max-width: 768px) {
				border-radius: 25px;
			}
		}
	}
	&__about-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	/* .review__card-play */
	&__card-play {
	}
	/* .review__card-icon */
	&__card-icon {
	}

	/* .review__blog */
	&__blog {
	}
	/* .review__blog-head */
	&__blog-head {
		display: flex;
		align-items: center;
		margin-bottom: 50px;

		@media (max-width: 768px) {
			margin-bottom: 25px;
		}
	}
	/* .review__blog-title */
	&__blog-title {
		margin-right: 24px;
		font-weight: 700;
		font-size: 40px;
		line-height: 47px;

		@media (max-width: 768px) {
			font-size: 30px;
			line-height: 35px;
		}
	}
	/* .review__blog-link */
	&__blog-link {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		width: 132px;
		height: 32px;
		color: #ffffff;
		background-color: #ca0100;
		border-radius: 11px;

		&:hover {
			text-decoration: underline;
		}

		@media (max-width: 768px) {
			margin-left: auto;
		}
	}
}

.card-review {
	/* .card-review__title */
	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 23px;
		text-transform: capitalize;
		margin-bottom: 30px;

		@media (max-width: 440px) {
			font-size: 18px;
			line-height: 21px;
			margin-bottom: 10px;
		}
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
        min-height: 100px;
        transition: all 0.3s ease;
		color: #737373;

		@media (max-width: 440px) {
			font-size: 14px;
			line-height: 150%;
		}
	}

    &__text.active {
        min-height: 300px;
    }
	/* .card-review__button */
	&__button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 188px;
		text-align: left;
		margin-top: 20px;
		font-weight: 700;
		font-size: 14px;
		line-height: 14px;
		background-color: #e1e1e1;
		border-radius: 20px;
		padding: 10px 12px 10px 20px;
        transition: all 0.3s ease;

		svg {
		}
	}

    &__button.active {
        svg {
            transform: rotate(180deg)
        }
    }
}

.review {
	/* .review__blog */
	&__blog {
		position: relative;
	}
	/* .review__blog-head */
	&__blog-head {
	}
	/* .review__blog-title */
	&__blog-title {
	}
	/* .review__blog-link */
	&__blog-link {
	}
}
.blog {
	/* .blog__slider */
	&__slider {
		@media (max-width: 440px) {
			overflow: visible !important;
		}
	}
	/* .blog__wrapper */
	&__wrapper {
	}
	/* .blog__slide */
	&__slide {
		@media (max-width: 768px) {
			margin-right: 15px !important;
		}

		@media (max-width: 440px) {
			margin-right: 10px !important;
			margin-left: 10px !important;
		}
	}
}

.blog-card {
	/* .blog-card__img */
	&__img {
		margin-bottom: 23px;
		max-width: 100%;
		height: auto;

		@media (max-width: 768px) {
			border-radius: 25px;
		}
	}
	/* .blog-card__date */
	&__date {
		display: inline-block;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;

		color: #adadb0;
		margin-bottom: 12px;
	}
	/* .blog-card__text */
	&__title {
		display: block;
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
	}
}

.blog__slider-btns {
	display: flex;
	gap: 15px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 11;

	@media (max-width: 768px) {
		display: none;
	}
}

@keyframes playCircleOne {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes playCircleTwo {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
