.footer {
	/* .footer__wrapper */
	&__wrapper {
		max-width: 1870px;
		margin: 0 25px;
		background: #262626;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		padding-top: 42px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 100px;
			left: 0;
			right: 0;
			width: 100%;
			height: 2px;
			background: #ffffff;
			opacity: 0.2;

			@media (max-width: 990px) {
				top: 120px;
			}
			@media (max-width: 540px) {
				top: 145px;
			}
			@media (max-width: 440px) {
				top: 210px;
			}
		}

		@media (max-width: 990px) {
			margin: 0 15px;
		}
	}
	/* .footer__container */
	&__container {
		padding: 0 30px;

        @media (max-width: 580px) {
            padding: 0 20px;
        }
	}

	/* .footer__top */
	&__top {
	}
	/* .footer__top-nav */
	&__top-nav {
	}
	/* .footer__top-list */
	&__top-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 30px;
		row-gap: 15px;

		@media (max-width: 990px) {
			flex-wrap: wrap;
			justify-content: start;
		}

        @media (max-width: 440px) {
            flex-direction: column;
            align-items: flex-start
        }
	}
	/* .footer__top-item */
	&__top-item {
		padding-bottom: 40px;

		@media (max-width: 990px) {
			padding-bottom: 0;
		}
	}
	/* .footer__top-link */
	&__top-link {
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
		color: #ffffff;
		position: relative;
		padding-bottom: 8px;

		@media (max-width: 840px) {
			font-size: 14px;
			line-height: 100%;
		}

		&::after {
			transition: all 0.3s ease;
			content: '';
			position: absolute;
			background-color: #ca0100;
			width: 0;
			height: 2px;
			bottom: 0;
			left: 0;
		}

		&:hover {
			&::after {
				width: 34px;
			}
		}
	}

	/* .footer__body */
	&__body {
		a {
			transition: all 0.3s ease;
		}
		a:hover {
			color: #f2c94c;
		}
	}
	/* .footer__body-wrapper */
	&__body-wrapper {
		display: flex;
		padding-top: 60px;
		padding-bottom: 50px;
		column-gap: 30px;

		@media (max-width: 1280px) {
			flex-wrap: wrap;
			column-gap: 15px;
			row-gap: 60px;
		}
	}
	/* .footer__copyright */
	&__copyright {
		padding: 40px 0 35px;
		background-color: #1b1b1b;
	}
	&__copyright-wrapper {
		display: flex;
		justify-content: space-between;

		@media (max-width: 1280px) {
			flex-wrap: wrap;
			row-gap: 30px;
		}
	}
	&__copyright-logo {
		@media (max-width: 1280px) {
			order: 2;
		}
	}
	&__copyright-info {
		margin-right: 36px;
		p {
			font-weight: 400;
			font-size: 14px;
			line-height: 140%;

			color: #737373;

			opacity: 0.5;
		}

		@media (max-width: 1280px) {
			margin-right: 0;
			order: 3;
		}
	}
	&__copyright-about {
		margin-right: 84px;

		@media (max-width: 1280px) {
			order: 1;
		}

		@media (max-width: 900px) {
			margin-right: 0;
		}
		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;

			color: #ffffff;
			margin-bottom: 22px;

			@media (max-width: 580px) {
				font-size: 16px;
				line-height: 150%;
			}
		}
		ul {
			display: flex;
			align-items: center;
			gap: 30px;

            @media (max-width: 580px) {
                flex-wrap: wrap;
                gap: 10px;
            }
		}
		ul li a {
			font-weight: 400;
			font-size: 14px;
			line-height: 140%;
			text-decoration-line: underline;
			color: #737373;
			opacity: 0.5;
		}
	}
	/* .footer__copyright-column */
	&__copyright-column {
	}
	/* .footer__copyright-text */
	&__copyright-text {
	}
	/* .footer__copyright-img */
	&__copyright-img {
	}
	/* .footer__catalog */
	&__catalog {
		padding-top: 69px;
		padding-bottom: 90px;
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
	&__catalog-item {
		display: flex;
		flex-direction: column;
		// flex-wrap: wrap;
		align-items: flex-start;
		margin-bottom: 32px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	/* .footer__catalog-column */
	&__catalog-column {
		flex: 0 1 calc(25% - 30px);

		button {
			display: block;
			font-weight: 900;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			color: #ffffff;
			margin-bottom: 13px;
			transition: all 0.3s ease;

			&:hover {
				color: #f2c94c;
			}
		}

		font-weight: 400;
		font-size: 16px;
		line-height: 200%;
		color: #737373;

		@media (max-width: 940px) {
			flex: 0 1 calc(33.333% - 30px);
		}
		@media (max-width: 768px) {
			flex: 0 1 calc(50% - 30px);
		}
		@media (max-width: 540px) {
			flex: 0 1 100%;
		}
	}
}

.info-footer {
	display: flex;
	column-gap: 30px;
	// column-gap: 87px;
	/* .info-footer__credit */
	&__credit {
	}
	/* .info-footer__btn */
	&__btn {
		position: relative;
		font-weight: 900;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		color: #ffffff;
		padding-bottom: 8px;
		margin-bottom: 35px;
		white-space: nowrap;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 34px;
			height: 2px;
			background-color: #ca0100;
		}

        @media (max-width: 620px) {
            margin-bottom: 20px;
        }
	}
	/* .info-footer__list */
	&__list {
	}
	/* .info-footer__item */
	&__item {
	}
	/* .info-footer__link */
	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 200%;
		text-decoration-line: underline;
		color: #737373;
	}
	/* .info-footer__contacts */
	&__contacts {
		margin-left: auto;

        @media (max-width: 620px) {
            margin-left: 0;
        }
		a,
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;

			color: #737373;
		}

		p {
			display: flex;
			align-items: center;
			span {
				display: inline-block;
				margin-right: 12px;
			}
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	/* .info-footer__phones */
	&__phones {
		display: flex;
		flex-direction: column;
		margin-bottom: 8px;
		a {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: #737373;

			span {
				display: inline-block;
				margin-right: 12px;
			}
		}
		a:nth-child(2) {
			padding-left: 35px;
		}
	}
	/* .info-footer__dropdown */
	&__dropdown {
		width: 326px;
		padding: 10px;
		padding-left: 15px;
		padding-right: 20px;

		margin-top: 20px;

		background: #595d60;
		border-radius: 9px;
		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: space-between;

        @media (max-width: 420px) {
            width: 250px;
        }

		span {
		}

		button {
			font-weight: 400;
			font-size: 16px;
			line-height: 120%;
			color: #ffffff;
		}
	}
}

.footer-nav {
	/* .footer-nav__column */
	&__column {
	}

	/* .footer-nav__menu */
	&__menu {
		flex: 0 1 750px;
	}
	/* .footer-nav__header */
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 35px;

		div {
			display: flex;
			align-items: center;
		}
		div p {
			font-weight: 900;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			color: #ffffff;
			margin-right: 20px;
			position: relative;
			padding-bottom: 8px;

			&::after {
				content: '';
				position: absolute;
				width: 34px;
				height: 2px;
				bottom: 0;
				left: 0;
				background-color: #ca0100;
			}
		}
		a {
			margin-left: auto;
			font-weight: 900;
			font-size: 16px;
			line-height: 19px;
			text-decoration-line: underline;
			color: #737373;
			padding-bottom: 8px;

            
		}
        &-link {
            @media (max-width: 430px) {
                display: none;
            }
        }
	}
	/* .footer-nav__list */
	&__list {
		margin-left: auto;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		column-gap: 15px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(5, 1fr);
        }
        @media (max-width: 670px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: 620px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 430px) {
            grid-template-columns: repeat(2, 1fr);
        }
	}
	/* .footer-nav__item */
	&__item {
	}
	/* .footer-nav__link */
	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 200%;
		text-decoration-line: underline;
		color: #737373;
	}
	/* .footer-nav__info */
	&__info {
		margin-left: auto;
		flex: 0 1 570px;

		@media (max-width: 1280px) {
			margin-left: 0;
		}
        @media (max-width: 620px) {
            flex-wrap: wrap;
            row-gap: 30px;
        }
	}
}

.footer-contacts__address {
	margin-top: 14px;
}

.footer-contacts a.footer-contacts__scheme {
	color: #ca0100;
}

