.footer {
    position: relative;
    z-index: 11;
    background: url("../img/footer-bg.png"), url("../img/dots.svg"),
        linear-gradient(195.2deg, #2e9adb 10.68%, #55b570 89.32%);
    background-repeat: no-repeat;
    background-size: cover 1310px;
    background-position: center;

    &__content {
    }
    &__top {
    }
    &__subtitle {
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;

        text-align: center;
        text-transform: uppercase;
        padding-top: 80px;
        margin-bottom: 40px;
    }
    &__title {
        font-weight: 900;
        font-size: 30px;
        line-height: 24px;

        text-align: center;
        text-transform: uppercase;

        color: #939393;
        padding-bottom: 222px;

        a {
            color: #2e9adb;
        }
    }
    &__form {
        max-width: 730px;
        margin: 0 auto;
    }
    &__form-title {
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
        text-align: center;

        color: #ffffff;
        padding-bottom: 40px;
    }
    &__input {
        display: inline-block;
        padding: 20px;
        padding-left: 30px;
        width: 730px;
        min-height: 80px;
        background: #ffffff;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    &__button {
        width: 350px;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;

        text-align: center;
        text-transform: uppercase;
        border: 1px solid #ffffff;
        border-radius: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 222px;
        color: #ffffff;
    }
    &__bottom {
    }
    &__body {
        display: flex;
    }
    &__item {
        flex: 0 1 33.333%;
    }
    &__info {
        ul li a {
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 20px;
            display: inline-block;
            text-transform: uppercase;

            color: #2e9adb;
        }
    }
    &__logo {
        margin-bottom: 30px;
    }
    &__copyright {
        max-width: 255px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 30px;
        color: #7e7e7e;
    }
    &__list {
        li a {
            padding-left: 26px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                background-image: url('../img/footer-arr-icon.svg');
                background-repeat: no-repeat;
            }
        }
    }
    &__item {
        margin-bottom: 30px;
        font-weight: 500;
        a {
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */

            color: #1c1c1c;
        }
    }
    &__contacts {
        li {
            margin-bottom: 30px;
        }
        li a {
            position: relative;
            padding-left: 29px;
        }
    }
}

.header {
    &__logo {
    }
}

.footer-top-bg {
    position: absolute;
    top: -1px;
    left: 0;
    width: 1920px;
    height: 394px;
    z-index: -1;
}

.footer-bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1920px;
    z-index: -1;
    height: 394px;
}

.footer__icon-email::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url('../img/icons/email.svg');
    background-repeat: no-repeat;
}
.footer__icon-telegram::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url('../img/icons/telegram.svg');
    background-repeat: no-repeat;
}
.footer__icon-skype::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url('../img/icons/skype.svg');
    background-repeat: no-repeat;
}