.footer {
    position: relative;
    z-index: 11;
    background: url('../img/fot-wave.svg'), url('../img/fot-wave-bottom.svg'),linear-gradient(195.2deg, #2e9adb 10.68%, #55b570 89.32%);
    background-repeat: no-repeat;
    background-size: 1920px;
    background-position: top -1px center, bottom 40px center;

    @media (max-width: 680px) {
        background: linear-gradient(195.2deg, #2e9adb 10.68%, #55b570 89.32%);
    }

    &__inner {
        background: url('../img/footer/dots.png');
        background-size: contain;
        background-position: center;
    }

    &__content {
    }
    &__top {

        @media (max-width: 680px) {
            background-color: #fff;
            position: relative;
            top: -1px;
            &::before {
                content: '';
                position: absolute;
                background-image: url('../img/footer/wave-top-mobile.svg');
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 100%;
                bottom: -120px;
                left: 0;
                z-index: -1;

                @media (max-width: 456px) {
                    bottom: -158px;
                }
            }
        }
        
    }
    &__subtitle {
        padding-top: 50px;
        font-weight: 900;
        @include adaptiv-value("font-size", 20, 16, 1);
        line-height: 24 / 20 * 100%;

        text-align: center;
        text-transform: uppercase;
        // padding-top: 80px;
        @include adaptiv-value("margin-bottom", 40, 20, 1);
    }
    &__title {
        font-weight: 900;
        @include adaptiv-value("font-size", 30, 18, 1);
        line-height: 100%;

        text-align: center;
        text-transform: uppercase;

        color: #939393;
        @include adaptiv-value("padding-bottom", 212, 140, 1);

        a {
            
            color: #2e9adb;
        }

        @media (max-width: 680px) {
            padding-bottom: 50px;
        }
    }
    &__form {
        max-width: 730px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__form-title {
        font-weight: 900;
        @include adaptiv-value("font-size", 30, 20, 1);
        line-height: 37 / 30 * 100%;
        text-align: center;
        padding-top: 80px;
        color: #ffffff;
        @include adaptiv-value("padding-bottom", 40, 20, 1 );
    }
    &__input {
        display: inline-block;
        padding: 20px;
        padding-left: 30px;
        max-width: 730px;
        width: 100%;
        min-height: 80px;
        background: #ffffff;
        border-radius: 40px;
        margin-bottom: 20px;

        @media (max-width: 540px) {
            min-height: 60px;
            margin-bottom: 10px;
        }
    }

    &__button {
        width: 350px;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        @include adaptiv-value("font-size", 20, 16, 1);
        line-height: 24 / 20 * 100%;

        text-align: center;
        text-transform: uppercase;
        border: 1px solid #ffffff;
        border-radius: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 170px;
        color: #ffffff;

        &:hover {
            
            background: linear-gradient(195.2deg, #2e9adb 10.68%, #55b570 89.32%);
        }

        @media (max-width: 670px) {
            margin-bottom: 100px;
        }

        @media (max-width: 480px) {
            min-height: 60px;
            max-width: 288px;
            margin-top: 0;
            margin-top: 10px;
        }
    }
    &__bottom {
        background-color: white;
        position: relative;

        @media (max-width: 680px) {
            &:before {
                content: '';
                position: absolute;
                background-image: url('../img/footer/wave-bottom-mobile.svg');
                background-repeat: no-repeat;
                background-size: contain;
                top: -64px;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        } 
        

       
    }
    &__body {
        display: flex;

        @media (max-width: 680px) {
            flex-wrap: wrap;
        }
    }
    &__item {
        flex: 0 1 33.333%;

        @media (max-width: 680px) {
            flex: 0 1 50%;
        }
    }
    &__info {
        ul li a {
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 20px;
            display: inline-block;
            text-transform: uppercase;

            color: #2e9adb;
        }

        
    }
    &__logo {
        margin-bottom: 30px;
    }
    &__copyright {
        max-width: 255px;
        font-weight: 500;
        @include adaptiv-value("font-size", 16, 13, 1);
        line-height: 19 / 16 * 100%;
        margin-bottom: 30px;
        color: #7e7e7e;

        @media (max-width: 460px) {
            max-width: 136px;

           
        }
    }
    &__list {
        li a {
            padding-left: 26px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                background-image: url('../img/footer-arr-icon.svg');
                background-repeat: no-repeat;
            }

            @media (max-width: 460px) {
              font-size: 13px;
            }
        }
    }
    &__item {
        margin-bottom: 22px;
        font-weight: 500;
        a {
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */

            color: #1c1c1c;
        }
    }
    &__contacts {
        li {
            margin-bottom: 30px;
        }
        li a {
            position: relative;
            padding-left: 29px;

            @media (max-width: 460px) {
                font-size: 13px;
            }

        }

        @media (max-width: 520px) {
            flex: 0 1 100%;
            order: -1;
            
        }
    }
}

.header {
    &__logo {
    }
}

.footer-top-bg {
    position: absolute;
    top: -1px;
    left: 0;
    width: 1920px;
    height: 394px;
    z-index: -1;
}

.footer-bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1920px;
    z-index: -1;
    height: 394px;
}

.footer__icon-email::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url('../img/icons/email.svg');
    background-repeat: no-repeat;
}
.footer__icon-telegram::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url('../img/icons/telegram.svg');
    background-repeat: no-repeat;
}
.footer__icon-skype::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url('../img/icons/skype.svg');
    background-repeat: no-repeat;
} 