//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
	// @media (max-width: $md1+px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	// display: flex;
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

/* Hero */

.hero {
	margin-top: 80px;
	@include adaptiv-value("margin-bottom", 78, 32, 1);
	background: url("../img/up_bg.jpg");

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media (max-width: 727px) {
		margin-top: 60px;
	}
	@media (max-width: 685px) {
		margin-top: 0;
	}

	&__content {
	}
	&__head {
		@include adaptiv-value("margin-bottom", 57, 32, 1);
	}
	&__title {
		@include adaptiv-value("padding-top", 140, 32, 1);
		font-weight: 900;
		@include adaptiv-value("font-size", 60, 30, 1);
		line-height: 75 / 60 * 100%;
		text-align: center;
		text-transform: uppercase;

		color: #ffffff;

		@media (max-width: 1130px) {
			margin-bottom: 10px;
		}
	}
	&__row {
		display: flex;
		align-items: center;
		position: relative;
		
		@media (max-width: 799px) {
			flex-wrap: wrap;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				width: 2px;
				height: 100%;
				background: rgba(255, 255, 255, 0.25);
			}

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 2px;
				background: rgba(255, 255, 255, 0.25);

			}
		}

		@media (max-width: 480px) {
			margin: 0 -17px;
		}

		
		
	}
	&__column {
		flex: 0 1 25%;
		display: flex;
		justify-content: center;
		min-height: 150px;
		text-align: center;
		border-right: 2px solid rgba(255, 255, 255, 0.25);

		@media (max-width: 799px) {
			flex: 1 1 50%;
			border-right: none;
			min-height: 90px;
		}
		@media (max-width: 480px) {
			flex: 1 1 35%;
			margin: 0 17px;
		}
	}
	&__column:last-child {
		border-right: none;
	}
	&__stats {

		@media (max-width: 940px) {
			padding: 0 15px;
		}
		@media (min-width: 745px) and (max-width: 799px) {
			margin-bottom: 20px;
		}
		@media (max-width: 768px) {
			padding: 20px 0px;
		}
	}
	&__stat-title {
		font-weight: 800;
		@include adaptiv-value("font-size", 40, 27, 1);
		line-height: 49 / 40 * 100%;
		
		text-align: center;

		color: #ffffff;

		@media (min-width: 768px) {
			margin-top: 29px;
		}
	}
	&__stat-text {
		font-weight: 500;
		@include adaptiv-value("font-size", 16, 13, 1);
		line-height: 19 / 16 * 100%;

		text-align: center;

		color: #ffffff;
	}
	&__info {
		display: flex;
		align-items: flex-start;
		padding: 58px 50px;
		background: #ffffff;
		box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		position: relative;

		@media (max-width: 1140px) {
			padding: 58px 10px;
		}
		@media (max-width: 799px) {
			flex-direction: column;
			align-items:center;
			padding: 35px 10px;
		}

		@media (min-width: 800px) {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 50%;
				width: 2px;
				height: 100%;
				background-color: #F3F3F3;
			}
		}

		@media (max-width: 799px) {
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				width: 100%;
				height: 2px;
				background-color: #F3F3F3;
			}
		}

		@media (max-width: 420px) {
			padding: 20px 10px;
		}

		
	}
	&__info-column:first-child {
		
		margin-right: 102px;

		@media (max-width: 1140px) {
			margin-right: 0;
		}

		@media (max-width: 799px) {
			margin-bottom: 41px;
		}
	}
	&__info-column {


		@media (max-width: 1140px) {
			flex: 0 1 50%;
			padding: 0 15px;

			display: flex;
			flex-direction: column;
			align-items: stretch;
		}

		@media (max-width: 420px) {
			padding: 0;
		}
	}
	&__info-text {
		max-width: 454px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;

		text-align: center;
		margin-bottom: 32px;

		@media (max-width: 799px) {
			min-width: 100%;
		}
		@media (max-width: 420px) {
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 16px;
			max-width: 256px;
		}
	}
	&__info-link {
		display: inline-flex;
		justify-content: center;
		font-weight: 900;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		margin-left: 50px;

		@media (max-width: 1140px) {
			min-width: 100%;
			margin-left: 0;
			
		}


		
		
			
	}
	&__info-link-w {
		background-color: #2e9adb;
		box-shadow: 0px 10px 20px rgba(78, 170, 224, 0.35);
		border-radius: 40px;
		padding: 28px 0;
		width: 100%;
		max-width: 354px;
		position: relative;
		transition: background-color 0.3s linear;

		&:hover {
			background-color: #0279c4;
		}

		&::after {
			position: absolute;
			content: '';
			background-image: url('../img/icons/right-arrow.svg');
			top: 50%;
			transform: translateY(-50%);
			right: 40px;
			width: 20px;
			height: 20px;
		}

		@media (max-width: 420px) {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			min-height: 60px;
			font-size: 16px;
			line-height: 24px;
		}
		
	}
	&__info-link-r {
		background-color: #55b570;
		box-shadow: 0px 10px 20px rgba(85, 181, 112, 0.35);
		border-radius: 40px;
		padding: 28px 0;
		width: 100%;
		max-width: 354px;
		position: relative;
		transition: background-color 0.3s linear;

		&::after {
			position: absolute;
			content: '';
			background-image: url('../img/icons/right-arrow.svg');
			
			top: 30px;
			transform: translateY(-50%);
			transform: rotate(90deg);
			right: 40px;
			width: 20px;
			height: 20px;
		}

		&:hover {
			background-color: #149b3a;
		}


		@media (max-width: 420px) {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			min-height: 60px;
			font-size: 16px;
			line-height: 24px;

			&::after {
				top: 25px;
				right: 25px;
			}
		}
		
	}
	&__desc {
		font-weight: 500;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 24 / 20 * 100%;

		text-align: center;

		color: #ffffff;
	}

	&__info-inner {
	}
}

/* Facts */

.facts {
	&__content {
	}
	&__title {
		font-weight: 900;
		@include adaptiv-value("font-size", 30, 20, 1);
		line-height: 37 / 30 * 100%;
		text-align: center;
		text-transform: uppercase;

		@include adaptiv-value("margin-bottom", 80, 30, 1);
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 23px;
		margin: 0 -15px;
	}
	&__column {
		flex-basis: 33.333%;
		padding: 0 15px;
		@include adaptiv-value("margin-bottom", 80, 30, 1);

		@media (max-width: 480px) {
			flex-basis: 50%;
		}
	}

	&__item {
	}
	&__item-img {
		text-align: center;
		@include adaptiv-value("margin-bottom", 30, 20, 1);

		img {
			@media (max-width: 480px) {
				width: 48px;
				height: 48px;
			}
		}
		
	}
	&__item-text {
		text-align: center;
		font-weight: 300;
		@include adaptiv-value("font-size", 20, 13, 1);
		line-height: 23 / 20 * 100%;
	}
	&__button {
		background: #ffffff;
		border: 4px solid #2e9adb;
		border-radius: 40px;
		display: block;
		margin: 0 auto;

		font-weight: 900;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 20 / 23 * 100%;
		padding: 0 20px;
		min-height: 80px;
		max-width: 350px;
		width: 100%;
		text-align: center;
		text-transform: uppercase;

		color: #2e9adb;
		transition: all 0.3s linear;

		&:hover {
			background-color: #2e9adb;
			color: white;
		}

		@media (max-width: 480px) {
			min-height: 60px;
		}
	}
}

/* Top */

.top {
	background: url("../img/top-bg1.png"), linear-gradient(195.2deg, #00d1ff 10.68%, #00d1ff 10.69%, #0088d9 89.32%);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 717px;
	
	position: relative;

	@media (max-width: 480px) {
		height: auto;
		padding-bottom: 100px;
	}

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/top-wave.png");
		background-position: center top;
		background-size: contain;
		top: -1px;
		left: 0;
		width: 100%;
		height: 140px;
		background-repeat: no-repeat;

		@media (max-width: 480px) {
			background-image: url('../img/top-mob.png');
			height: 60px;
		}
	}

	&::after {
		content: "";
		position: absolute;
		background-image: url("../img/b-w.svg");
		background-size: contain;
		background-position: center bottom;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 140px;
		background-repeat: no-repeat;

		@media (max-width: 480px) {
			background-image: url('../img/bottom-mob.png');
			height: 60px;
		}
	}

	&__content {
	}

	&__head {

		@media (max-width: 768px) {
			margin-top: 25px;
		}
	}
	&__title {
		@include adaptiv-value("padding-top", 184, 68, 1);
		font-weight: 900;
		@include adaptiv-value("font-size", 30, 20, 1);
		line-height: 37 / 30 * 100%;
		text-align: center;
		text-transform: uppercase;

		color: #ffffff;
		margin-bottom: 20px;
	}
	&__text {
		font-weight: 500;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 24 / 20 * 100%;
		text-align: center;

		color: #ffffff;
		@include adaptiv-value("margin-bottom", 80, 32, 1);
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
		row-gap: 60px;
	}
	&__item {
		padding: 0 12px;
		flex: 1 1 calc(33.333% - 24px);

		@media (max-width: 480px) {
			flex: 1 1 100%;
		}
		
	}
	&__item-title {
		font-weight: 900;
		@include adaptiv-value("font-size", 81, 45, 1);
		line-height: 70 / 81 * 100%;
		text-align: center;
		text-transform: uppercase;

		color: #ffffff;
		@include adaptiv-value("margin-bottom", 30, 20, 1);
	}
	&__item-text {
		font-weight: bold;
		@include adaptiv-value("font-size", 16, 13, 1);
		line-height: 19 / 16 * 100%;
		text-align: center;
		// width: 350px;
		color: #ffffff;
	}
}

/* Clients */

.clients {
	@include adaptiv-value("margin-bottom", 80, 32, 1);

	&__content {
		max-width: 965px;
	}
	&__title {
		font-weight: 900;
		@include adaptiv-value("font-size", 30, 20, 1);
		line-height: 37 / 30 * 100%;
		text-align: center;
		text-transform: uppercase;

		@include adaptiv-value("margin-bottom", 80, 32, 1);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -25px;

		@media (max-width: 540px) {
			margin: 0 -8px;
		}
	}
	&__item {
		flex: 0 1 calc(25% - 50px);
		@include adaptiv-value("margin-bottom", 60, 30, 1);
		padding: 0 25px;

		@media (max-width: 540px) {
			flex: 0 1 calc(50% - 16px);
			padding: 0 8px;
		}
	}
	&__item:last-child {
		@include adaptiv-value("margin-bottom", 80, 32, 1);
	}
	&__link {
		@media (max-width: 540px) {
			img {
				max-width: 100%;
			}
		}	
	}
	&__text {
		p {
			font-weight: 500;
			@include adaptiv-value("font-size", 20, 13, 1);
			line-height: 24 / 20 * 100%;

			text-align: center;

			color: #939393;
		}
	}
}

/* promotion */

.promotion {
	&__content {
	}
	&__subtitle {
		@include adaptiv-value("margin-bottom", 82, 32, 1);
		font-weight: 900;
		@include adaptiv-value("font-size", 30, 20, 1);
		line-height: 37 / 30 * 100%;
		text-align: center;
		text-transform: uppercase;
	}
	&__header &__button {
		background-image: url('../img/icons/down-arrow-2.svg');
		background-repeat: no-repeat;
		background-size: 24px;
		background-position: center;
		
	}
	&__header._active &__button {
		background-image: url('../img/icons/down-arrow-s.svg');
		background-repeat: no-repeat;
		background-size: 24px;
		background-position: center;
		
	}
	&__block {
		box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		padding: 60px 0;
		margin-bottom: 60px;
	}
	&__title {
		// padding-top: 60px;
		@include adaptiv-value("padding-bottom", 20, 10, 1);
		font-weight: 900;
		@include adaptiv-value("font-size", 60, 30, 1);
		line-height: 75 / 60 * 100%;

		text-align: center;
		text-transform: uppercase;

		color: #2e9adb;
	}
	&__desc {
		font-weight: 500;
		@include adaptiv-value("font-size", 16, 13, 1);
		line-height: 19 / 16 * 100%;
		text-align: center;
		max-width: 728px;
		text-align: center;
		margin: 0 auto;
		color: #939393;
		margin-bottom: 40px;
		padding: 0 16px;
	}
	&__button {
		display: block;
		margin: 0 auto;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		border: 1px solid #ffffff;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
		position: relative;
		background-color: white;
		
	}
	

	&__button::after {
		content: "";
		position: absolute;
		@include adaptiv-value("width", 448, 92, 1);
		height: 1px;
		background-color: #d2d2d2;
		top: 50%;
		left: 80px;
		transform: translateY(-50%);
	}
	&__button::before {
		content: "";
		position: absolute;
		@include adaptiv-value("width", 448, 92, 1);
		height: 1px;
		background-color: #d2d2d2;
		top: 50%;
		right: 80px;
		transform: translateY(-50%);
	}
}

/* Formats */

.formats {
	&__container {
		max-width: 990px;
		margin: 0 auto;

		@media (max-width: 1080px) {
			padding: 0 15px;
		}
	}
	&__title {
		font-weight: bold;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 24 / 20 * 100%;
		text-align: center;
		text-transform: uppercase;
		@include adaptiv-value("margin-top", 60, 30, 1);
		@include adaptiv-value("margin-bottom", 60, 30, 1);
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -15px;
		padding-bottom: 30px;
		border-bottom: 1px dashed #d2d2d2;

		@media (max-width: 580px) {
			margin: 0 -8px;
		}
	}
	&__item {
		flex: 0 1 calc(20% - 30px);
		@include adaptiv-value("padding-top", 40, 24, 1);
		@include adaptiv-value("padding-bottom", 30, 16, 1);
		background: #ffffff;
		box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		margin: 0 15px;
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: transform 0.3s linear;

		&:hover {
			transform: translateY(-3px);
		}

		@media (max-width: 1080px) {
			flex: 0 1 calc(25% - 30px);
		}
		@media (max-width: 768px) {
			flex: 0 1 calc(33.333% - 30px);
		}
		@media (max-width: 580px) {
			flex: 0 1 calc(50% - 16px);
			margin: 0 8px;
			margin-bottom: 16px;
			padding-top: 24px;
			padding-bottom: 16px;

			img {
				width: 48px;
				height: 48px;
			}
		}
	}
	&__item-img {
		margin-bottom: 21px;
	}
	&__item-text {
		font-weight: bold;
		@include adaptiv-value("font-size", 16, 13, 1);
		line-height: 19 / 16 * 100%;
		text-align: center;

		color: #939393;
	}
}

/* Case */

.case {
	&__container {
		max-width: 990px;
		margin: 0 auto;

		@media (max-width: 1080px) {
			padding: 0 16px;
		}
	}
	&__title {
		@include adaptiv-value("margin-top", 60, 32, 1);
		@include adaptiv-value("margin-bottom", 60, 20, 1);
		font-weight: bold;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 24 / 20 * 100%;
		text-align: center;
		text-transform: uppercase;
	}
	&__desc {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;

		text-align: center;

		color: #939393;
		margin-bottom: 40px;
	}
	&__block {
		text-align: center;
	}
	&__block-img {
		margin-bottom: 40px;
	}
	&__text {
		padding-bottom: 60px;
		margin-bottom: 60px;
		border-bottom: 1px dashed #d2d2d2;
		p {
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			text-align: center;

			color: #060606;
		}
	}
}
.case-title {
	margin-bottom: 20px;
}
.case-block {
	margin-bottom: 60px;
	&__logo {
		text-align: center;
		@include adaptiv-value("margin-bottom", 60, 20, 1);
	}
	&__list {
		display: flex;
		background: #ffffff;
		box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
		border-radius: 8px;

		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&__item {
		flex: 0 1 33.333%;
		min-height: 200px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-right: 1px solid #ebebeb;

		

		@media (max-width: 767px) {
			flex: 0 1 100%;
			min-height: 120px;
			border-bottom: 1px solid #EBEBEB;
			border-right: none;
			padding-top: 32px;
			padding-bottom: 32px;
		}

	}
	&__item:last-child {
		border: none;
	}
	&__title {
		font-weight: 500;
		@include adaptiv-value("font-size", 16, 13, 1);
		line-height: 19 / 16 * 100%;

		text-align: center;
		@include adaptiv-value("margin-bottom", 20, 16, 1);

		color: #939393;
	}
	&__desc {
		font-weight: 500;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 24 / 20 * 100%;
		max-width: 270px;
		text-align: center;

		span {
			color: #2e9adb;
		}
	}

	&__icon-title {
		margin-top: 15px;
		font-weight: bold;
		@include adaptiv-value("font-size", 16, 13, 1);
		line-height: 19 / 16 * 100%;
	}

	&:last-child {
		padding-bottom: 60px;
		border-bottom: 1px dashed #d2d2d2;
	}
}

/* Advantages */

.advantages {
	&__container {
		max-width: 990px;
		margin: 0 auto;

		@media (max-width: 1080px) {
			padding: 0 16px;
		}
	}

	&__title {
		@include adaptiv-value("margin-bottom", 72, 20, 1);
		font-weight: bold;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 24 / 20 * 100%;
		text-align: center;
		text-transform: uppercase;
	}
	&__list {
		@include adaptiv-value("margin-bottom", 72, 32, 1);
	}
	&__item {
		margin-bottom: 43px;
		padding-left: 68px;
		font-weight: 500;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 24 / 20 * 100%;
		position: relative;

		@media (max-width: 720px) {
			padding-left: 40px;
		}

		&::before {
			content: "";
			position: absolute;
			background-image: url("../img/icons/list-icon.png");
			background-repeat: no-repeat;
			width: 48px;
			min-height: 48px;
			top: 50%;
			transform: translateY(-50%);
			left: 0;

			@media (max-width: 720px) {
				background-image: url('../img/icons/list-mobile.svg');
				width: 24px;
				min-height: 24px;
			}
		}
	}
	&__button {
		background:#ffffff;
		border: 4px solid #2e9adb;
		border-radius: 40px;
		min-width: 350px;
		min-height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 900;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 24 / 20 * 100%;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;

		color: #2e9adb;
		transition: all 0.3s linear;

		&:hover {
			background-color: #2e9adb;
			color: white;
		}
	}
}

/* development */

.development {
	&__columns {
		display: flex;
		margin: 0 -15px;
		border-bottom: 1px dashed #d2d2d2;
		padding-bottom: 60px;

		@media (max-width: 768px) {
			margin: 0 -10px;
		}
		@media (max-width: 767px) {
			flex-wrap: wrap;
			row-gap: 30px;
		}
		@media (max-width: 460px) {
			row-gap: 16px;
		}
	}
	&__column {
		flex: 0 1 50%;
		padding: 0 15px;

		@media (max-width: 768px) {
			padding: 0 10px;
			
		}
		@media (max-width: 767px) {
			flex-basis: 100%;
		}
	}
	&__items {
		background: #ffffff;
		box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
		border-radius: 8px;

		display: flex;

		@media (max-width: 460px) {
			flex-direction: column;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 184px;
		img {
			margin-bottom: 21px;
		}

		p {
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			text-align: center;

			color: #939393;
		}
		b {
			font-weight: 500;
			@include adaptiv-value("font-size", 20, 16, 1);
			line-height: 24 / 20 * 100%;

			text-align: center;
		}
		h5 {
			font-weight: 500;
			@include adaptiv-value("font-size", 16, 13, 1);
			line-height: 19 / 16 * 100%;
			margin-bottom: 20px;
			padding: 0 10px;
			color: #939393;
		}

		


	}

	&__item--right {
		flex-basis: 305px;

		@media (max-width: 460px) {
			flex-basis: auto;
			min-height: 115px;
			padding: 32px 16px;
		}
	}
	&__item--left {
		flex-basis: 175px;
		border-right: 1px solid #ebebeb;

		@media (max-width: 460px) {
			padding: 40px 0;
			border-right: none;
			border-bottom: 1px solid #ebebeb;
		}
	}
}

/* products */

.products {
	&__container {
		max-width: 990px;
		margin: 0 auto;

		@media (max-width: 1080px) {
			padding: 0 16px;
		}
	}
	&__title {
		font-weight: bold;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 24 / 20 * 100%;
		text-align: center;
		text-transform: uppercase;
		@include adaptiv-value("margin-bottom", 60, 32, 1);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -15px;
		padding-bottom: 30px;

		@media (max-width: 768px) {
			margin: 0 -8px;
		}
	}
	&__item {
		flex: 0 1 calc(20% - 30px);
		min-height: 174px;
		background: #ffffff;
		box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		margin: 0 15px;
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		position: relative;
		padding: 10px;
		transition: transform 0.3s linear;

		&:hover {
			transform: translateY(-3px);
		}

		@media (max-width: 1080px) {
			flex: 0 1 calc(25% - 30px);
		}

		@media (max-width: 860px) {
			flex: 0 1 calc(33.333% - 30px);
		}
		@media (max-width: 768px) {
			margin: 0 8px;
			margin-bottom: 16px;
			flex: 0 1 calc(33.333% - 16px);
		}
		@media (max-width: 640px) {
			flex: 1 1 calc(50% - 16px);
		}
		@media (max-width: 440px) {
			min-height: 120px;
		}

	}
	&__item-img {
		margin-bottom: 21px;

		@media (max-width: 440px) {
			margin-bottom: 16px;
			img {
				width: 48px;
				height: 48px;
			}
		}
	}
	&__label {
		position: absolute;
		top: 16px;
		right: 16px;
	}
	&__label-android {
	}
	&__item-text {
		padding: 0 11px;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		text-align: center;

		color: #939393;
	}
	&__label-apple {
	}

	&__desc {
		margin-bottom: 60px;

		p {
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;

			text-align: center;

			color: #939393;
		}
	}
	&__button {
		min-width: 350px;
		min-height: 80px;
		background:#ffffff;
		border: 4px solid #2e9adb;
		border-radius: 40px;
		font-weight: 900;
		font-size: 20px;
		line-height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;

		text-align: center;
		text-transform: uppercase;

		color: #2e9adb;
		margin: 0 auto;
		transition: all 0.3s linear;

		&:hover {
			background: #2e9adb;
			color: #fff;
		}
	}
}

/* Optimization */

.optimization {
	&__title {
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 60px;
	}
	&__container {
		max-width: 990px;
		margin: 0 auto;

		@media (max-width: 1080px) {
			padding: 0 16px;
		}
	}
	&__items {
		display: flex;
		margin: 0 -15px;
		padding-bottom: 60px;
		margin-bottom: 50px;
		border-bottom: 1px dashed #d2d2d2;

		@media (max-width: 768px) {
			margin-left: -8px;
			margin-right: -8px;
		}
		@media (max-width: 520px) {
			flex-wrap: wrap;
		}
	}
	&__item {
		flex: 0 1 50%;
		margin: 0 15px;
		min-height: 304px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #FFFFFF;
		box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		padding-top: 40px;

		@media (max-width: 768px) {
			margin: 0 8px;
		}
		@media (max-width: 520px) {
			min-height: 220px;
			padding-top: 32px;
			padding-bottom: 32px;
			margin-bottom: 16px;
			flex: 0 1 100%;
		}
	}
	&__img {
		margin-bottom: 40px;

		@media (max-width: 520px) {
			margin-bottom: 32px;
		}
	}
	&__text {
		@include adaptiv-value("font-size", 24, 16, 1);
		line-height: 28 / 24 * 100%;
		text-align: center;
		@include adaptiv-value("margin-bottom", 60, 20, 1);
	}
	&__subtitle {
		font-weight: bold;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 24 / 20 * 100%;
		text-align: center;
		text-transform: uppercase;
		@include adaptiv-value("margin-bottom", 40, 20, 1);
	}
	&__desc {
		max-width: 420px;
		text-align: center;
		padding-bottom: 20px;
		@media (max-width: 1080px) {
			padding: 0 15px;
		}
		@media (max-width: 840px) {
			padding: 0 20px 20px;
			text-align: left;
		}
		@media (max-width: 520px) {
			padding-bottom: 0;
		}
	}
}


/* ------------------ */
