@charset "UTF-8";

@font-face {
  font-family: "TTNormsPro";
  font-display: swap;
  src: url("../fonts/TTNormsPro-Bold.woff") format("woff"), url("../fonts/TTNormsPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TTNormsPro";
  font-display: swap;
  src: url("../fonts/TTNormsPro-Black.woff") format("woff"), url("../fonts/TTNormsPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TTNormsPro";
  font-display: swap;
  src: url("../fonts/TTNormsPro-ExtraBold.woff") format("woff"), url("../fonts/TTNormsPro-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TTNormsPro";
  font-display: swap;
  src: url("../fonts/TTNormsPro-Light.woff") format("woff"), url("../fonts/TTNormsPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TTNormsPro";
  font-display: swap;
  src: url("../fonts/TTNormsPro-Medium.woff") format("woff"), url("../fonts/TTNormsPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTNormsPro";
  font-display: swap;
  src: url("../fonts/TTNormsPro-Regular.woff") format("woff"), url("../fonts/TTNormsPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTNormsPro-Italic";
  font-display: swap;
  src: url("../fonts/TTNormsPro-Italic.woff") format("woff"), url("../fonts/TTNormsPro-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "TTNormsPro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "TTNormsPro";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #444444;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  background-color: #fff;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.header__info-address {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.045em;
  margin-bottom: 3px;
}

.header__info-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #357CDD;
  padding-right: 11px;
  margin-right: 12px;
  border-right: 1px solid #C2C2C2;
}

.header__info-link:last-child {
  border: none;
  padding-right: 0;
  margin-right: 0;
}

.header__contacts-wrap {
  padding-left: 96px;
}

.header__contacts-phone {
  padding-right: 8px;
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  margin-bottom: 2px;
  color: inherit;
}

.header__contacts-inner {
  position: relative;
}

.header__contacts-allphones {
  display: none;
  z-index: 1;
  position: absolute;
  left: 24%;
  top: 37px;
  background: #FFFFFF;
  border: 1px solid #E2EEF8;
  -webkit-box-shadow: 0px 6px 18px rgba(53, 124, 221, 0.08);
          box-shadow: 0px 6px 18px rgba(53, 124, 221, 0.08);
  border: 1px solid #E2EEF8;
  border-radius: 10px;
  padding: 20px;
  text-align: right;
}

.header__contacts-allphones p:first-child {
  position: relative;
}

.header__contacts-allphones p:first-child::after {
  content: "";
  position: absolute;
  top: -28px;
  left: 142px;
  background-image: url("../img/icons/rec.svg");
  width: 16px;
  height: 8px;
}

.header__contacts-allphones p {
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.header__contacts-allphones p:not(:last-child) {
  margin-bottom: 10px;
}

.header__contacts-allphones._active {
  display: block;
}

.header__contacts-btn {
  display: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #357CDD;
  position: relative;
}

.header__contacts-btn:before {
  content: "";
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  position: absolute;
  background-image: url("../img/icons/phone-arrow.svg");
  background-repeat: no-repeat;
  top: 5px;
  left: 4px;
  height: 4px;
  width: 7px;
}

.header__contacts-btn._active:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__contacts-info {
  display: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
  position: relative;
  padding-left: 17px;
}

.header__contacts-info::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #13DB1B;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  border-radius: 50%;
}

.menu {
  position: relative;
}

.icon-menu {
  border: 1px solid #357CDD;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #357CDD;
}

.icon-menu span:first-child {
  top: 7px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 7px;
}

.icon-menu._active {
  border: none;
}

.icon-menu._active span {
  width: 100%;
  left: 0px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.footer {
  border-top: 1px solid #F2F2F2;
}

.footer__top {
  padding-top: 27px;
  padding-bottom: 46px;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column:first-child {
  -ms-flex-preferred-size: 238px;
      flex-basis: 238px;
}

.footer__column:last-child {
  margin-left: auto;
}

.footer__phone {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  text-align: right;
}

.footer__work {
  text-align: right;
}

.footer__work-info {
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
}

.footer__email {
  text-align: right;
}

.footer__email a {
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
  color: #357CDD;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__logo {
  margin-right: 136px;
}

.footer__logo img {
  width: 238px;
}

.footer__nav li a {
  line-height: 300%;
  text-decoration: underline;
  color: #357CDD;
}

.footer__nav li a:hover {
  text-decoration: none;
}

.footer__contacts li {
  margin-bottom: 7px;
}

.footer__bottom {
  border-top: 1px solid #F2F2F2;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom-text {
  margin-right: 30px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  max-width: 930px;
}

.footer__bottom-copyright {
  min-width: 200px;
  text-align: right;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._no-webp .hero{
  background-image: url("../img/bg.jpg"); }

.hero {
  min-height: 1000px;
  background-repeat: no-repeat;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__head {
  padding-top: 78px;
  margin-bottom: 34px;
}

.hero__title {
  font-weight: 800;
  font-size: 34px;
  line-height: 150%;
  text-transform: uppercase;
  color: #418DF6;
}

.hero__desc {
  font-size: 18px;
  line-height: 150%;
  max-width: 930px;
}

.hero__form-wrap {
  width: 450px;
  padding: 6px;
  background: #F8F8F8;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

.hero__form-body {
  height: 100%;
  padding: 17px 45px 27px 33px;
  width: 438px;
  background: #FFFFFF;
  border-radius: 10px;
}

.hero__form-title {
  font-weight: 500;
  font-size: 26px;
  line-height: 170.5%;
  margin-bottom: 18px;
  text-align: center;
}

.hero__form-desc {
  line-height: 130%;
  text-align: center;
  margin-bottom: 40px;
}

.hero__form-input {
  background: #F0F6FB;
  border-radius: 5px;
  width: 100%;
  min-height: 75px;
  padding: 20px 30px;
  margin-bottom: 16px;
}

.hero__form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 170.5%;
  color: #5F6C77;
}

.hero__form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 170.5%;
  color: #5F6C77;
}

.hero__form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 170.5%;
  color: #5F6C77;
}

.hero__form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 170.5%;
  color: #5F6C77;
}

.hero__form-input::placeholder {
  font-size: 16px;
  line-height: 170.5%;
  color: #5F6C77;
}

.hero__form-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#418DF6), to(#1357B6));
  background: -o-linear-gradient(top, #418DF6 0%, #1357B6 100%);
  background: linear-gradient(180deg, #418DF6 0%, #1357B6 100%);
  -webkit-box-shadow: 0px 2px 0px #1951A0, 0px 10px 30px rgba(65, 141, 246, 0.46), inset 0px -1px 0px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 2px 0px #1951A0, 0px 10px 30px rgba(65, 141, 246, 0.46), inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 170.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  min-height: 73px;
  color: #FFFFFF;
  width: 100%;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 19px;
}

.hero__form-conditions {
  margin-bottom: 37px;
}

.hero__form-conditions label {
  font-size: 12px;
  line-height: 170.5%;
  color: #5F6C77;
}

.hero__form-conditions label a {
  color: #357CDD;
}

.hero__form-info {
  padding-top: 28px;
  border-top: 1px solid #EEEEEE;
}

.hero__form-info p {
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
  padding-left: 75px;
}

/* CheckBox */

.check {
  display: block;
  padding-left: 33px;
}

.check__input {
  margin-right: 15px;
  vertical-align: text-top;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__input:checked + .check__box {
  background-image: url("../img/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.check__box {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #E4F0FF;
  border-radius: 3px;
  margin-left: -33px;
}

/* Spoiler */

.spoller {
  -ms-flex-preferred-size: 810px;
      flex-basis: 810px;
  margin: 0px 0px 30px 0px;
}

.spoller__item {
  margin: 0px 0px 10px 0px;
}

.spoller__title {
  border-radius: 10px;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#60A2FD), to(#357CDD));
  background: -o-linear-gradient(top, #60A2FD 0%, #357CDD 100%);
  background: linear-gradient(180deg, #60A2FD 0%, #357CDD 100%);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 10px;
  position: relative;
}

.spoller._init .spoller__title {
  cursor: pointer;
}

.spoller._init .spoller__title {
  padding: 20px 30px;
}

.spoller._init .spoller__title::before,
.spoller._init .spoller__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 20px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.spoller._init .spoller__title::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.spoller._init .spoller__title._active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.spoller__body {
  background: #FFFFFF;
  margin-top: -8px;
  border: 2px solid #418DF6;
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 41px rgba(96, 162, 253, 0.49);
          box-shadow: 0px 10px 41px rgba(96, 162, 253, 0.49);
  border-radius: 0 0 10px 10px;
  padding: 33px;
  padding-top: 41px;
  line-height: 130%;
}

.spoller__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.spoller__row:not(:last-child) {
  margin-bottom: 30px;
}

.spoller__desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
}

.spoller__dots {
  border-bottom: 1px dashed #9DC5E7;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.spoller__price {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #357CDD;
}

/* font-family: 'Roboto', sans-serif; */

@media (min-width: 575px) {
  .header__contacts-info {
    display: block;
  }
}

@media (min-width: 768px) {
  .header__wrapper {
    min-height: 150px;
  }

  .header__contacts-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1270px) {
  .header__info-wrap {
    text-align: right;
  }
}

@media (min-width: 1350px) {
  .header__contacts-info {
    margin-left: 40px;
  }
}

@media (max-width: 1440px) {
  .header__info-address {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1120));
  }

  .header__contacts-wrap {
    padding-left: calc(30px + 66 * ((100vw - 320px) / 1120));
  }

  .header__contacts-phone {
    font-size: calc(14px + 12 * ((100vw - 320px) / 1120));
  }

  .header__contacts-allphones p {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1120));
  }

  .footer__phone {
    font-size: calc(14px + 8 * ((100vw - 320px) / 1120));
  }

  .footer__items {
    -webkit-column-gap: calc(30px + 60 * ((100vw - 320px) / 1120));
       -moz-column-gap: calc(30px + 60 * ((100vw - 320px) / 1120));
            column-gap: calc(30px + 60 * ((100vw - 320px) / 1120));
  }

  .footer__logo {
    margin-right: calc(30px + 106 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 1420px) {
  .header__contacts-allphones {
    left: 145px;
  }
}

@media (max-width: 1350px) {
  .header__contacts-allphones {
    left: 23%;
    top: 40px;
  }
}

@media (max-width: 1200px) {
  .header__logo {
    margin-right: 30px;
  }
}

@media (max-width: 1120px) {
  .header__contacts-allphones {
    left: 20%;
  }
}

@media (max-width: 1065px) {
  .header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .header__info {
    display: none;
  }

  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 30px;
  }
}

@media (max-width: 1000px) {
  .header__contacts-allphones p:first-child::after {
    right: 0;
    left: unset;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 980px) {
  .footer__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column:last-child {
    margin-bottom: 0;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
    margin-bottom: 30px;
  }

  .footer__phone {
    text-align: left;
  }

  .footer__work {
    text-align: left;
  }

  .footer__email {
    text-align: left;
  }
}

@media (max-width: 800px) {
  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .header__logo-img {
    width: 200px;
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 680px) {
  .header__contacts-wrap {
    padding-left: 0;
  }
}

@media (max-width: 580px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__bottom-text {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer__bottom-copyright {
    text-align: center;
  }
}

@media (max-width: 410px) {
  .header__logo-img {
    max-width: none;
    width: 200px;
  }

  .header__contacts-phone {
    display: none;
  }
}

@media (max-width: 400px) {
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo img {
    width: 200px;
  }
}

._webp .hero{ background-image: url(../img/bg.webp); }