.features {
    padding-bottom: 130px;
    @media (max-width: 790px) {
        padding-bottom: 60px;
    }
    &__content {
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 790px) {
            flex-direction: column;
        }
    }
    &__img {
        margin-right: 50px;
        img {
            max-width: 100%;
        }
        @media (max-width: 790px) {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
    &__info {
        flex: 0 1 428px;

        @media (max-width: 880px) {
            flex: 0 1 auto;
        }
        
    }
    &__info-title {
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;

        color: #0b132a;
        margin-bottom: 20px;

        @media (max-width: 900px) {
            font-size: 30px;
        }
    }
    &__info-text {
        line-height: 30px;
        margin-bottom: 20px;
    }
    &__info-list {
    }
    &__info-item {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 15px;
        padding-left: 34px;
        background-image: url('../../img/icon-list.svg');
        background-repeat: no-repeat;
        background-position: left center;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
