.footer {
    padding: 180px 0 100px;
    @media (max-width: 980px) {
        padding-bottom: 30px;
    }
    &__container {
    }
    &__body {
        display: flex;
        justify-content: space-between;

        @media (max-width: 980px) {
            flex-direction: column-reverse;
        }
    }
    &__info {
        flex: 0 1 340px;
        @media (max-width: 980px) {
            flex: 0 1 auto;
        }
    }
    &__logo {
        margin-bottom: 20px;
    }
    &__desc {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 30px;
    }
    &__social {
        margin-bottom: 30px;
        display: flex;
        li {
            margin-right: 20px;
            
        }
    }
    &__copy {
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        flex: 0 1 570px;
        @media (max-width: 980px) {
            flex: 0 1 auto;
            margin-bottom: 50px;
        }
        @media (max-width: 640px) {
            flex-wrap: wrap;
            gap: 15px;
        }
        
    }
    &__menu-column {
        flex: 0 1 33.333%;

        @media (max-width: 420px) {
            flex: 0 1 100%;
        }
    }
    &__menu-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 20px;
        color: #0b132a;
        @media (max-width: 420px) {
            cursor: pointer;
            position: relative;
            
            &:before {
                content: '';
                position: absolute;
                top: 4px;
                right: 0;
                width: 20px;
                height: 20px;
                background-image: url('../../img/icons/p-left.svg');
                background-repeat: no-repeat;
                background-position: center;
                transform: rotate(270deg);
                transition: transform .2s linear;
            }
        }
    }
    &__menu-title._active {
        &:before {
             transform: rotate(-270deg);
        }
    }
    &__menu-list {
    }
    &__menu-item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__menu-link {
        line-height: 30px;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }
}
