.network {

    padding-bottom: 50px;

    &__content {
    }
    &__title {
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        text-align: center;
        color: #0B132A;
        max-width: 385px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    &__text {
        line-height: 30px;
        text-align: center;
        max-width: 555px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 155px;
    }
    &__map {
        margin-bottom: 35px;
    }
    &__map-img {
        max-width: 100%;
    }
    &__company {


    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 210px;
    }
    &__item {

    }
}
