.reviews {
    &__content {
    }
    &__title {
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        max-width: 448px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #0b132a;
        margin-bottom: 20px;
    }
    &__text {
        line-height: 30px;
        max-width: 555px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        text-align: center;
    }
    &__slider {
        margin-bottom: 65px;
        position: relative;
        
        @media (min-width: 1200px) {
            &::after {
            content: "";
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            width: 100vw;
            z-index: 5;
            -webkit-transform: translate(-100%,0);
            -ms-transform: translate(-100%,0);
            transform: translate(-100%,0);
            background-color: #F6F6F6;
        }
        }
    }
    &__subscribe {
        padding: 45px 70px;
        background: #ffffff;
        border-radius: 10px;
        margin-bottom: -115px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 860px) {
            flex-direction: column;
            row-gap: 30px;
            padding: 45px 30px;
        }
    }
    &__subscribe-wrap {
    }
    &__subscribe-title {
        font-weight: 500;
        font-size: 35px;
        line-height: 45px;
        color: #0b132a;
        margin-bottom: 20px;
        max-width: 372px;
        @media (max-width: 620px) {
            text-align: center;
            font-size: 30px;
        }
    }
    &__subscribe-desc {
        line-height: 30px;
        @media (max-width: 620px) {
            text-align: center;
        }
    }
    &__subscribe-btn.btn {
        padding: 17px 65px;
        white-space: nowrap;
    }

    // reviews__slider
    &__slider.swiper {
        overflow: visible;
        margin-bottom: 65px;
    }
    &__slider-wrapper {
        padding-bottom: 60px;
        align-items: stretch;
    }
    &__slider-slide {
        // margin-right: 20px;
        width: 400px;
        
        &:last-child {
            margin-right: 0;
        }
        @media (min-width: 1120px) {
            margin-right: 50px;
        }
    }
    &__slider-item {
        min-height: 230px;
        height: 100%;
        padding: 30px;
        background: #ffffff;
        border: 2px solid #dddddd;
        border-radius: 10px;
        transition: all 0.2s;

        &:hover {
            border: 2px solid #f53838;
        }
    }
    &__slider-pagination.swiper-pagination {
        position: static;
       
        // left: 0;
        // top: calc(100% - 40px);
        text-align: left;
    }
    &__slider-buttons {
        display: flex;
        width: 180px;
        justify-content: space-between;
        align-items: center;
        // position: absolute;
        // right: 0;
        // bottom: 0;
        
    }
    &__slider-button {
        cursor: pointer;
        width: 60px;
        height: 60px;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #F53838;
        &--prev {
            background-image: url('../../img/icons/arrow-left.svg') ;
            background-repeat: no-repeat;
            background-position: center;
            pointer-events: auto;
        }
        &--next {
            background-image: url('../../img/icons/arrow-left.svg') ;
            transform: rotate(180deg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__slider-control {
        display: none;
        @media (min-width: 968px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.slider-item {

    &__header {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
    }
    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
    }
    &__author {
        h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 1;
            text-align: center;
            color: #0b132a;
            margin-bottom: 5px;
        }
        p {
            font-size: 14px;
            line-height: 1;
        }
    }
    &__rating {
        margin-left: auto;
        span {
            margin-right: 10px;
        }
    }
    &__body {
    }
    &__text {
        line-height: 30px;
        color: #0b132a;
    }
}