@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "lib/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Intro-Book";
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1248;
$maxWidthContainer: 1158;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "lib/null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2 + px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3 + px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "lib/forms";
// @import "lib/ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "lib/popup";
@import "blocks/header";
@import "blocks/footer";
@import "home";
@import "blocks/new";
@import "blocks/tabs";
@import "blocks/card";
@import "blocks/category";
@import "blocks/info";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	 
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================



// Slider

.hero__slider {
  width: 100%;
  position: relative;
}
.hero__slider-slide {
	width: 100%;
//   max-height: 480px;
}
.hero__slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.hero__slider-button--next {
  right: 100px;
  background-image: url('../../img/icons/right-arrow.svg');

  @media (max-width: 1120px) {
	right: 30px;
  }
  @media (max-width: 968px) {
	  display: none;
  }
}
.hero__slider-button--prev {
  left: 100px;
  background-image: url('../../img/icons/left-arrow.svg');

  @media (max-width: 1120px) {
	  left: 30px;
  }
  @media (max-width: 968px) {
	  display: none;
  }
}
.hero__slider-image {
	width: 100%;
	height: 462px;
	object-fit: cover;
	object-position: center;
	margin-top: 1px;
	@media (min-width: 1120px) {
		max-height: 480px;
	}
}
.hero__slider-text {
	position: absolute;
	top: 30%;
	left: 20%;

	@media (max-width: 680px) {
		left: 6%;
	}
}
.hero__slider-title {
  font-weight: bold;
  @include adaptiv-value("font-size", 48, 32, 1);
  line-height: 120%;
  max-width: 472px;
  color: #ffffff;
}
.hero__slider-num {
  font-weight: bold;
  @include adaptiv-value("font-size", 72, 50, 1);
  line-height: 160%;
  color: #ffffff;
}

.swiper-pagination {
	position: absolute;
	bottom: 30px !important;
//   margin-bottom: 39px;
}
.swiper-pagination-bullet {
  border-radius: 0;
  background-color: #ffffff;
  height: 2px;
  width: 56px;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff;
  border-radius: 0;
  width: 56px;
  height: 3px;
}

// new Slider

.new__slider {
	overflow: hidden;
	padding: 55px 15px;
	position: relative;

	@media (max-width: 380px) {
		overflow: visible;
	}
}

.new__slider-button {
	background-repeat: no-repeat;
	background-position: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #000;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	z-index: 100;

	
}

.new__slider-button--prev {
	left: 0;
	background-image: url('../img/card/left-arrow.svg');
	@media (max-width: 580px) {
		display: none;
	}
	
}
.new__slider-button--next {
	right: 0;
	background-image: url('../img/card/right-arrow.svg');
	@media (max-width: 580px) {
		display: none;
	}
}

.new__slider-pagination .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #D0D0D0;
}

.new__slider-pagination .swiper-pagination-bullet-active {
	background-color: #E7430B;
}



