@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "lib/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Intro-Book";
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1248;
$maxWidthContainer: 1158;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "lib/null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2 + px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3 + px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "lib/forms";
// @import "lib/ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "lib/popup";
@import "vendors/nouislider";
@import "blocks/header";
@import "blocks/footer";
@import "home";
@import "blocks/new";
@import "blocks/tabs";
@import "blocks/card";
@import "blocks/category";
@import "blocks/info";
@import "blocks/breadcrumbs";
@import "blocks/category-header";
@import "blocks/filter";
@import "blocks/product";
@import "blocks/cart";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

// Slider

.hero__slider {
	width: 100%;
	position: relative;
}
.hero__slider-slide {
	width: 100%;
	//   max-height: 480px;
}
.hero__slider-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	width: 60px;
	height: 60px;
	border: none;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
}
.hero__slider-button--next {
	right: 100px;
	background-image: url("../../img/icons/right-arrow.svg");

	@media (max-width: 1120px) {
		right: 30px;
	}
	@media (max-width: 968px) {
		display: none;
	}
}
.hero__slider-button--prev {
	left: 100px;
	background-image: url("../../img/icons/left-arrow.svg");

	@media (max-width: 1120px) {
		left: 30px;
	}
	@media (max-width: 968px) {
		display: none;
	}
}
.hero__slider-image {
	width: 100%;
	height: 462px;
	object-fit: cover;
	object-position: center;
	margin-top: 1px;
	@media (min-width: 1120px) {
		max-height: 480px;
	}
}
.hero__slider-text {
	position: absolute;
	top: 30%;
	left: 20%;

	@media (max-width: 680px) {
		left: 6%;
	}
}
.hero__slider-title {
	font-weight: bold;
	@include adaptiv-value("font-size", 48, 32, 1);
	line-height: 120%;
	max-width: 472px;
	color: #ffffff;
}
.hero__slider-num {
	font-weight: bold;
	@include adaptiv-value("font-size", 72, 50, 1);
	line-height: 160%;
	color: #ffffff;
}

.swiper-pagination {
	position: absolute;
	bottom: 30px !important;
	//   margin-bottom: 39px;
}
.swiper-pagination-bullet {
	border-radius: 0;
	background-color: #ffffff;
	height: 2px;
	width: 56px;
}
.swiper-pagination-bullet-active {
	background-color: #ffffff;
	border-radius: 0;
	width: 56px;
	height: 3px;
}

// new Slider

.new__slider {
	overflow: hidden;
	padding: 55px 15px;

	@media (max-width: 380px) {
		overflow: visible;
	}
}

.new__slider-button {
	background-repeat: no-repeat;
	background-position: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #000;
	// top: 50%;
	// transform: translateY(-50%);
	// position: absolute;
	// z-index: 100;
}

.new__slider-arrows {
	display: grid;
	grid-template-columns: repeat(2, 48px);
	column-gap: 8px;

	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: calc(100% - 48px);
	left: 24px;
	z-index: 2;
	justify-content: space-between;

	@media (min-width: 1200px) {
		width: calc(100% + 48px);
		left: -24px;
	}
}

.new__slider-button--prev {
	left: 0;
	background-image: url("../img/card/left-arrow.svg");
	@media (max-width: 580px) {
		display: none;
	}
}
.new__slider-button--next {
	right: 0;
	background-image: url("../img/card/right-arrow.svg");
	@media (max-width: 580px) {
		display: none;
	}
}

.new__slider-pagination .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #d0d0d0;
}

.new__slider-pagination .swiper-pagination-bullet-active {
	background-color: #e7430b;
}

.new-slider {
	position: relative;
}

.new-slider__title {
	font-family: "Intro";
	font-weight: bold;
	font-size: 32px;
	line-height: 130%;
	margin-top: 50px;
}

// show more
.show-more {
	font-size: 14px;
	line-height: 160%;
	text-align: center;
	color: #676f77;
	font-family: "Intro";
	border: 1px solid #d6dce1;
	width: 100%;
	border-radius: 4px;
	margin-bottom: 32px;
	padding: 10px;
}

// pagination

.pagination {
	display: flex;
	align-items: center;
	// justify-content: space-between;
	padding: 5px 0;
	justify-content: center;
}

.pagination__arrow {
	width: 12px;
	height: 12px;
	padding: 10px;
	cursor: pointer;
	background: url("../img/icons/pagination-arowl.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px;

	&:last-child {
		transform: rotate(-180deg);
	}
}

.pagination__list {
	display: flex;
	margin: 0 35px;

	@media (max-width: 460px) {
		margin: 0 15px;
	}
}

.pagination__item {
	font-family: "Intro";
	font-size: 16px;
	line-height: 125%;
	color: #676f77;
	padding: 0 17px;

	&._active {
		border: 1px solid #f77d0c;
		border-radius: 4px;
		padding: 10px 12px;
	}

	@media (max-width: 460px) {
		padding: 0 10px;
	}
}

// sorting

.sorting {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 59px;

	@media (max-width: 460px) {
		padding-bottom: 35px;
	}

	p {
		@media (max-width: 460px) {
			display: none;
		}
	}
}


// ----------------------------------------------------------------

.page__inner {
	display: flex;
}

.page__sidebar {
	flex: 0 0 214px;

	@media (max-width: 720px) {
		display: none;
	}
}

.page__content {
	flex: 1 1 auto;
	margin-left: 73px;
	padding-bottom: 119px;

	@media (max-width: 1080px) {
		margin-left: 50px;
	}

	@media (max-width: 720px) {
		margin-left: 0;
	}
}

.page__content-inner {
	display: flex;
	gap: 24px;
	padding-bottom: 99px;

	@media (max-width: 1080px) {
		gap: 15px;
		padding-bottom: 70px;
	}
	@media (max-width: 920px) {
		justify-content: center;
	}
}

.page__content-inner {
	display: flex;
	// justify-content: space-between;
	flex-wrap: wrap;
}

.page-card {
	flex: 1 1 calc(33.333% - 24px);
	@media (max-width: 1080px) {
		flex: 1 1 calc(33.333% - 15px);
	}
	@media (max-width: 920px) {
		flex: 1 1 calc(50% - 15px);
	}
}

.page-card {
	&__header {}
	&__labels {}
	&__label {}
	&__img {

		@media (max-width: 460px) {
			margin-bottom: 0;
		}
	}
	&__link {}
	&__body {}
	&__title {}
	&__text {
		@media (max-width: 1080px) {
			font-size: 13px;
		}
	}
	&__footer {
		@media (max-width: 460px) {
			flex-direction: column;
			align-items: stretch;
		}
	}
	&__price {
		span {
			@media (max-width: 1080px) {
				font-size: 11px;
			}
			@media (max-width: 460px) {
				order: 2;
			}
		}
		p {
			@media (max-width: 1080px) {
				font-size: 14px;
			}
			@media (max-width: 460px) {
				order: 1;
				font-size: 16px;
			}
		}
		@media (max-width: 460px) {
			display: flex;
			align-items: center;
			column-gap: 8px;
			margin-bottom: 13px;

		}
	}
	&__buttons {}
	&__button {}
	&__button-cart {
		@media (max-width: 1080px) {
			padding: 4px 12px;
		}
	}
}

.breadcrumbs__product {
	margin-top: 30px;
}


// ----------------------------------------------------------------
// .swiper-slide {
// 	text-align: center;
// 	font-size: 18px;
// 	background: #fff;

// 	/* Center slide text vertically */

// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

.swiper {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.mySwiper2 {
	height: 100%;
	width: 100%;
}

.mySwiper {
	box-sizing: border-box;
	align-self: center;
}

.mySwiper .swiper-slide {
	width: 75px;
	height: 75px;
	opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.product__slider-arrow--prev {
	pointer-events: auto;
	position: absolute;
	left: 22px;
	top: 100px;
	background-image: url("../img/product/arr-1.svg");
	background-repeat: no-repeat;
	width: 30px;
	height: 16px;
	z-index: 2;
}

.product__slider-arrow--next {
	pointer-events: auto;
	position: absolute;
	bottom: 100px;
	left: 22px;
	background-image: url("../img/product/arr-2.svg");
	background-repeat: no-repeat;
	width: 30px;
	height: 16px;
	z-index: 2;
}

// cart modal

.cart-modal {
	width: 456px;
	min-height: 570px;
	background: #ffffff;
	box-shadow: 0px 12px 88px rgba(76, 81, 96, 0.16);
	border-radius: 4px;
	padding: 24px;
	overflow: auto;
	transition: opacity 0.3s;
	position: absolute;
	top: 100%;
	right: 22px;
	opacity: 0;
	pointer-events: none;
	z-index: 11;

	&__form {
	}
	&__title {
		font-family: "Intro";
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 130%;
		margin-bottom: 23px;
	}
	&__list {
		margin-bottom: 30px;
	}
	&__item {
		display: flex;
		align-items: center;
		padding: 20px 0;
		border-bottom: 1px solid #e9ecee;
	}
	&__img {
		border: 1px solid #e9ecee;
		border-radius: 4px;
		margin-right: 16px;
		width: 64px;
		height: 64px;
		img {
			max-width: 100%;
		}
	}
	&__info {
	}
	&__code {
		font-size: 11px;
		line-height: 150%;
		color: #676f77;
	}
	&__link {
		font-size: 14px;
		line-height: 160%;
		margin-bottom: 4px;
		color: inherit;
	}
	&__price {
		font-size: 14px;
		line-height: 160%;
	}
	&__close {
		margin-left: auto;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 1px solid #676f77;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__total {
		font-family: "Intro";
		font-weight: bold;
		font-size: 25px;
		line-height: 130%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 23px;
		span {
			font-family: "Intro-Book";
			display: inline-block;
			font-size: 16px;
			line-height: 170%;
			margin-right: 16px;
		}
	}
	&__button {
		text-align: center;
		background: linear-gradient(90deg, #ee6409 0%, #f77d0c 100%);
		border-radius: 4px;
		padding: 11px 40px;
		width: 100%;
		color: #fff;
		font-size: 16px;
		line-height: 170%;
		margin-bottom: 19px;
	}
}

.cart-modal__basket {
	display: block;
	text-align: center;
}
