@charset "UTF-8";

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "GothamPro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "GothamPro";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #404040;
  background: #f4f7fa;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 0;
}

.header__logo {
  margin-right: 62px;
}

.header__desc {
  display: none;
}

.header__phone {
  margin-right: 36px;
  margin-left: auto;
}

.header__phone a {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #303030;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header__phone a:hover {
  color: #273895;
}

.header__phone-icon {
  display: none;
}

.header__icon {
  display: none;
}

.icon-menu {
  display: none;
}

.footer {
  border-top: 1px solid #DEE6EF;
}

.footer__inner {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-right: 48px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #CFDAE7;
  border-radius: 10px;
  margin-left: 8px;
}

.footer__bottom {
  padding: 16px 0;
  background: #E8EDF3;
}

.footer__copy {
  font-size: 12px;
  line-height: 20px;
  color: #7A7A7A;
}

.footer__links a {
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
  color: #7A7A7A;
  margin-left: 16px;
}

.footer__links a:hover {
  text-decoration: underline;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  height: 63px;
  width: 199px;
}

.button {
  display: inline-block;
  background: #273895;
  border-radius: 15px;
  padding: 16px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.button:hover {
  background: #3247bd;
}

.menu__body._active {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  margin-right: 48px;
  padding: 5px 0;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #000000;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  font-weight: 500;
}

.menu__link:hover {
  color: #3247bd;
}

.intro {
  padding-bottom: 87px;
}

._no-webp .intro__content{
  background-image: url("../img/bg.png"); }

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: top 51px right 157px;
}

.intro__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.intro__title {
  margin-top: 120px;
  margin-bottom: 16px;
  max-width: 733px;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  color: #262626;
}

.intro__desc {
  line-height: 150%;
  color: #303030;
  margin-bottom: 32px;
  max-width: 547px;
}

.intro__stat {
  position: relative;
  padding-left: 250px;
}

.intro__stat-info {
  padding-left: 250px;
  position: absolute;
  top: 45px;
  left: 40px;
  text-align: center;
  font-size: 12px;
}

.intro__stat-info span {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
  color: #303030;
}

.intro__stat-inner {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: #F4F7FA;
}

.intro__stat-inner img {
  -webkit-animation: rotate 30s linear infinite;
          animation: rotate 30s linear infinite;
}

.intro__advantages {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin-left: auto;
}

.intro__advantages-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  padding: 32px 48px;
  background: #F4F7FA;
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 10px;
}

.intro__advantages-item img {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  margin-bottom: 8px;
}

.intro__advantages-item img:hover {
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}

.intro__advantages-item p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #303030;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.team {
  padding-bottom: 144px;
}

.team__content {
  max-width: 1092px;
  position: relative;
}

.team__inner {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.team__info {
  margin-right: 75px;
}

.team__info img {
  margin-bottom: 32px;
}

.team__info-title {
  max-width: 438px;
  margin-bottom: 16px;
}

.team__info-text {
  line-height: 150%;
  max-width: 406px;
}

.team__advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 435px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 17px;
}

.team__advantages-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  background: -o-linear-gradient(213.71deg, #ffffff 29.99%, #f4f9ff 79.17%);
  background: linear-gradient(236.29deg, #ffffff 29.99%, #f4f9ff 79.17%);
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 10px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.team__advantages-item h3 {
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 11px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4514e6), to(#bda8ff));
  background: -o-linear-gradient(top, #4514e6 0%, #bda8ff 100%);
  background: linear-gradient(180deg, #4514e6 0%, #bda8ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #7247ff;
}

.team__advantages-item span {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
}

.team__advantages-item:nth-child(1) h3 {
  font-size: 48px;
}

.team__advantages-item:nth-child(1) {
  padding: 32px;
}

.team__advantages-item:nth-child(2) h3 {
  font-size: 36px;
}

.team__advantages-item:nth-child(2) {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.team__advantages-item:nth-child(3) h3 {
  font-size: 36px;
}

.team__advantages-item:nth-child(3) {
  margin-left: 32px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.team__advantages-item:nth-child(4) h3 {
  font-size: 16px;
}

.team__advantages-item:nth-child(4) {
  min-height: 171px;
  min-width: 192px;
  padding: 32px;
}

.team__advantages-item:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.team__cards-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #303030;
  margin-bottom: 31px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.team__card {
  padding: 32px;
  background: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.team__card img {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.team__card:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.team__card-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #303030;
  margin-bottom: 16px;
}

.team__card-text {
  line-height: 150%;
  max-width: 279px;
}

/* Animation */

.shape-1 {
  position: absolute;
  top: 15px;
  right: 40px;
  z-index: -1;
  -webkit-animation: animationFramesOne 20s infinite linear;
          animation: animationFramesOne 20s infinite linear;
}

.shape-2 {
  position: absolute;
  top: 258px;
  right: 515px;
  z-index: -1;
  -webkit-animation: animationFramesTwo 20s infinite linear;
          animation: animationFramesTwo 20s infinite linear;
}

.shape-3 {
  position: absolute;
  top: 312px;
  right: 327px;
  z-index: -1;
  -webkit-animation: animationFramesThree 20s infinite linear;
          animation: animationFramesThree 20s infinite linear;
}

@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  20% {
    -webkit-transform: translate(73px, -1px);
  }

  40% {
    -webkit-transform: translate(141px, 72px);
  }

  60% {
    -webkit-transform: translate(83px, 122px);
  }

  80% {
    -webkit-transform: translate(-40px, 72px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  20% {
    -webkit-transform: translate(73px, -1px);
  }

  40% {
    -webkit-transform: translate(141px, 72px);
  }

  60% {
    -webkit-transform: translate(83px, 122px);
  }

  80% {
    -webkit-transform: translate(-40px, 72px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) scale(1);
  }

  20% {
    -webkit-transform: translate(73px, -1px) scale(0.9);
  }

  40% {
    -webkit-transform: translate(141px, 72px) scale(1);
  }

  60% {
    -webkit-transform: translate(83px, 122px) scale(1.2);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) scale(1.1);
  }

  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
  }
}

@keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) scale(1);
  }

  20% {
    -webkit-transform: translate(73px, -1px) scale(0.9);
  }

  40% {
    -webkit-transform: translate(141px, 72px) scale(1);
  }

  60% {
    -webkit-transform: translate(83px, 122px) scale(1.2);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) scale(1.1);
  }

  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
  }
}

@-webkit-keyframes animationFramesThree {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
  }

  20% {
    -webkit-transform: translate(73px, -1px) scale(0.9);
  }

  40% {
    -webkit-transform: translate(141px, 72px) scale(1);
  }

  60% {
    -webkit-transform: translate(83px, 122px) scale(1.2);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) scale(1.1);
  }

  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
  }
}

@keyframes animationFramesThree {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
  }

  20% {
    -webkit-transform: translate(73px, -1px) scale(0.9);
  }

  40% {
    -webkit-transform: translate(141px, 72px) scale(1);
  }

  60% {
    -webkit-transform: translate(83px, 122px) scale(1.2);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) scale(1.1);
  }

  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
  }
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #303030;
}

.advantages {
  padding-bottom: 144px;
}

.advantages__content {
  max-width: 1125px;
}

.advantages__title {
  margin-bottom: 48px;
  text-align: center;
}

.advantages__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
}

.advantages__sirius {
  display: inline-block;
}

.advantages__desc {
  max-width: 438px;
}

.advantages__desc p {
  line-height: 150%;
  margin-bottom: 30px;
}

.advantages__desc p:last-child {
  margin-bottom: 0;
}

.advantages__info {
  margin-left: 32px;
  max-width: 327px;
}

.advantages__info ul li {
  padding-left: 24px;
  background-image: url("../img/advantages/arrow.svg");
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

.advantages__info ul li:last-child {
  margin-bottom: 0;
}

.advantages__body {
  display: inline-block;
  position: relative;
}

.advantages__actions {
  position: absolute;
  top: -15px;
  right: -45px;
  display: inline-block;
  background: -o-linear-gradient(123.94deg, #F0EBFF 11.53%, #FFFFFF 74.32%);
  background: linear-gradient(326.06deg, #F0EBFF 11.53%, #FFFFFF 74.32%);
  -webkit-box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
          box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
  border-radius: 11.9362px;
  padding: 20px;
}

.advantages__actions-title {
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 6px;
  font-weight: 500;
}

.advantages__actions-btn {
  display: inline-block;
  background: -o-linear-gradient(123.94deg, #2641D1 11.53%, #3333A3 74.32%);
  background: linear-gradient(326.06deg, #2641D1 11.53%, #3333A3 74.32%);
  border-radius: 7.95745px;
  padding: 16px 22px;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-align: center;
}

.advantages__actions-btn:hover {
  background: -o-linear-gradient(123.94deg, #344aca 11.53%, #3b3bd3 74.32%);
  background: linear-gradient(326.06deg, #344aca 11.53%, #3b3bd3 74.32%);
}

.advantages__item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 44px;
  margin-bottom: 8px;
  letter-spacing: 0.17em;
  color: #34449C;
}

.advantages__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  gap: 19px;
  margin-top: -70px;
}

.advantages__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 236px;
          flex: 0 1 236px;
  background: -o-linear-gradient(213.71deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
  background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
  -webkit-box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 20px;
  padding: 36px 32px 32px;
}

.advantages__card img {
  margin-bottom: 16px;
}

.advantages__card-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  max-width: 172px;
}

.advantages__card-desc {
  line-height: 150%;
  max-width: 172px;
}

.tariffs {
  padding-bottom: 144px;
}

.tariffs__content {
  max-width: 1092px;
}

.tariffs__title {
  text-align: center;
  margin-bottom: 16px;
}

.tariffs__desc {
  line-height: 150%;
  text-align: center;
  margin-bottom: 32px;
}

.tariff-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.tariff-card.free {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.tariff-card.free__subtitle {
  text-align: center;
}

.tariff-card.free {
  text-align: center;
}

.tariff-card.free .tariff-card__subtitle {
  text-align: center;
}

.tariff-card.free ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 625px;
  margin: 0 auto;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  text-align: initial;
  margin-bottom: 16px;
}

.tariff-card.free li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 24px);
          flex: 1 1 calc(50% - 24px);
}

.tariff-card.free .tariff-card__btn {
  margin: 0 auto;
}

.tariff-card {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 32px);
          flex: 1 1 calc(50% - 32px);
}

.tariff-card__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #2741D0;
  margin-bottom: 8px;
}

.tariff-card__price-free {
  display: block;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #C9C9C9;
  margin-bottom: 16px;
}

.tariff-card__desc {
  line-height: 30px;
  color: #737373;
  margin-bottom: 16px;
}

.tariff-card__subtitle {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 16px;
}

.tariff-card__item {
  font-size: 16px;
  line-height: 24px;
  padding-left: 18px;
  background-image: url("../img/tariffs/list-icon.svg");
  background-repeat: no-repeat;
  background-position: left top 8px;
  margin-bottom: 16px;
}

.tariff-card__link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #2741D0;
  padding-right: 40px;
  margin-bottom: 16px;
  position: relative;
}

.tariff-card__link::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  background-image: url("../img/tariffs/arrow.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 16px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.tariff-card__link:hover {
  color: #1f34a5;
}

.tariff-card__link:hover::after {
  right: 0;
}

.tariff-card__btn {
  max-width: 220px;
  display: block;
  font-weight: 400;
}

.tariff-card__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 64px;
}

.tabs__item {
  color: #273895;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  border-bottom: 1px dashed #2741CF;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.tabs__item._active {
  padding: 10px 28px;
  color: #fff;
  border-radius: 15px;
  background: #273895;
}

.tabs__body {
  padding: 32px 0px 0px 0px;
}

.partners {
  padding-bottom: 144px;
}

._no-webp .partners__header{
  background-image: url("../img/partners/bg.png"); }

.partners__header {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
  height: 100%;
  min-height: 398px;
  background-color: #273895;
  margin-bottom: 76px;
}

.partners__inner img {
  position: absolute;
  bottom: 0;
}

.partners__content {
  max-width: 1092px;
}

.partners__title {
  padding-top: 88px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.partners__desc {
  font-size: 16px;
  line-height: 150%;
  color: #E9E9E9;
  max-width: 321px;
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 16px;
}

.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 48px 187px 48px 110px;
}

.partners__item-img {
  width: 220px;
  margin-right: 32px;
}

.partners__item-img img {
  width: 100%;
}

.partners__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 16px;
}

.partners__item-text {
  max-width: 515px;
  line-height: 20px;
  margin-bottom: 16px;
}

.partners__item-text:last-child {
  margin-bottom: 0;
}

.partners__item-text.gray {
  color: #B7B6B6;
}

.partners__items-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 auto;
  margin-top: 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

@media (min-width: 411px) {
  .footer__social {
    margin-left: auto;
  }
}

@media (min-width: 850px) {
  .header__desc {
    display: block;
    max-width: 227px;
    font-size: 12px;
    line-height: 20px;
    color: #303030;
  }
}

@media (max-width: 1310px) {
  .intro__stat {
    padding-left: calc(30px + 220 * ((100vw - 320px) / 990));
  }

  .intro__stat-info {
    padding-left: calc(30px + 220 * ((100vw - 320px) / 990));
  }

  .team {
    padding-bottom: calc(30px + 114 * ((100vw - 320px) / 990));
  }

  .team__inner {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 990));
  }

  .team__info {
    margin-right: calc(30px + 45 * ((100vw - 320px) / 990));
  }

  .advantages {
    padding-bottom: calc(72px + 72 * ((100vw - 320px) / 990));
  }

  .tariffs {
    padding-bottom: calc(72px + 72 * ((100vw - 320px) / 990));
  }

  .partners {
    padding-bottom: calc(72px + 72 * ((100vw - 320px) / 990));
  }
}

@media (max-width: 1140px) {
  ._no-webp .intro__content{
    background-image: url("../img/bg-mobile.png"); }
  .intro__content {
    background-position: top 51px right;
  }

  .intro__head {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .intro__title {
    font-size: 36px;
    margin-top: 80px;
  }

  .intro__button {
    margin-bottom: 30px;
  }

  .intro__stat {
    padding-left: 0;
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
  }

  .intro__stat-info {
    padding-left: 0;
  }
}

@media (max-width: 980px) {
  .intro__content {
    background-position: top 140px right 15px;
  }
}

@media (max-width: 920px) {
  .intro__title {
    font-size: 30px;
  }

  .intro__button {
    margin-bottom: 16px;
  }

  .intro__stat {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 16px;
  }

  .intro__advantages {
    margin-left: 0;
  }
}

@media (max-width: 880px) {
  .footer__list {
    margin-left: 15px;
  }
}

@media (max-width: 765px) {
  .footer__links {
    text-align: right;
  }
}

@media (max-width: 740px) {
  .intro__title {
    font-size: 24px;
    line-height: 30px;
    max-width: 620px;
  }

  .intro__advantages-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 24px;
  }

  .intro__advantages-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 675px) {
  .header__inner {
    padding: 15px 0;
  }

  .header__button {
    display: none;
  }

  .header__icon {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background: #DEE6EF;
    border-radius: 7px;
    z-index: 10;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 14px;
    width: 22px;
    height: 16px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4614E8;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: calc(100% - 93px);
    bottom: 0;
    left: 0;
    overflow: auto;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #F4F7FA;
    padding-top: 30px;
    padding-left: 30px;
    z-index: 10;
  }

  .menu__list {
    display: block;
    margin: 0 0 30px 0;
    padding: 0 15px 25px;
  }

  .menu__item {
    margin-bottom: 15px;
  }

  .menu__item:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 20px;
  }

  .intro__title {
    margin-top: 48px;
  }
}

@media (max-width: 640px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 15px;
  }

  .footer__desc {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-bottom: 15px;
  }
}

@media (max-width: 540px) {
  .header__phone {
    display: none;
  }

  .header__phone-icon {
    display: block;
    margin-left: auto;
    margin-right: 8px;
  }
}

@media (max-width: 517px) {
  .intro__advantages-items {
    padding: 32px;
  }
}

@media (max-width: 485px) {
  .intro__advantages {
    text-align: center;
  }
}

@media (max-width: 465px) {
  .footer__copy {
    margin-bottom: 15px;
  }

  .footer__links a {
    margin-left: 0;
    margin-right: 15px;
  }

  .footer__links {
    text-align: left;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 411px) {
  .footer__list {
    margin-left: 0;
  }

  .footer__item:first-child {
    margin-left: 0;
  }

  .intro__content {
    background-position: top 140px center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro__head {
    text-align: center;
  }

  .intro__desc {
    font-size: 12px;
    line-height: 18px;
  }

  .intro__button {
    font-size: 12px;
    padding: 13px 20px;
  }

  .intro__stat {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .intro__advantages-item img {
    margin-bottom: 16px;
  }

  .intro__advantages-item p {
    font-size: 14px;
    line-height: 20px;
  }
}

._webp .intro__content{ background-image: url(../img/bg.webp); }

._webp .partners__header{ background-image: url(../img/partners/bg.webp); }

@media (max-width: 1140px){

  ._webp .intro__content{ background-image: url(../img/bg-mobile.webp); }
}