.header {
    position: relative;

    &__wrapper {
        display: flex;
        position: relative;
        align-items: flex-start;
        
    }

    &__circle {
        position: absolute;
        left: -451px;
        top: -278px;
        width: 748px;
        height: 748px;
        border: 2px dashed #E4E4E4;
        border-radius: 50%;
        z-index: -1;
    }
    &__circle-solid {
        position: absolute;
        z-index: -1;
        left: -679px;
        top: -681px;
        width: 1280px;
        height: 1280px;
        border: 2px solid #E4E4E4;
        border-radius: 50%;
    }
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-image: url('../img/header-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        min-height: rem(795);
        opacity: 0.05;
        z-index: -1;
    }

    &__container {

    }
    &__body {
        display: flex;
        justify-content: space-between;
         padding-top: rem(28);
        min-height: 142px;
       
    }
    &__logo {}
    &__main {}
    &__menu {}
    &__actions {
        display: flex;
    }
    &__actions-search {
        margin-right: rem(33);
    }
    &__actions-lang {}
    &__actions-phone {
        margin-left: rem(37);
    }
    &__actions-text {
        font-weight: 300;
        line-height: 15px;
        margin-bottom: 10px;
    }
    &__actions-link {
        font-weight: 900;
        line-height: 15px;
        position: relative;
        padding-left: 20px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 2px;  
            background-image: url('../img/icons/phone.svg');
            background-repeat: no-repeat;
            width: 11px;
            height: 11px;

        }
    }

    &__content {
        display: flex;
       padding-top: rem(99);
        
    }
    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30px;
        padding-top: rem(96);
        margin-right: rem(83);
    }
    &__social-label {
        transform: rotate(-90deg);
        font-weight: 900;
        font-size: rem(20);
        line-height: 137.7%;
        padding-left: rem(98);
    }
    &__social-line {
        width: 1px;
        height: 60px;
        background-color: #000;
    }
    &__social-list {
        padding-top: rem(16);
    }
    &__social-item {
        
        &:not(:last-child) {margin: 0px 0px 11px 0px;};
    }
    &__social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29px;
        height: 29px;
        background-color: rgba(254, 173, 4, 1);
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 0.5;
        }
    }
    &__info {}
    &__title {
        font-weight: 900;
        font-size: rem(60);
        line-height: 114.7%;
        text-transform: uppercase;
        color: #FEAD04;
        padding-bottom: rem(27);
        // max-width: rem(680);
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: rem(446);
            height: 1px;
            background-color: #000;
        }
    }
    &__text {
        margin-top: rem(27);
        
        font-weight: 300;
        font-size: rem(35);
        line-height: 114.7%;
        max-width: rem(499);
        margin-bottom: rem(33);
    }
    &__btn {

    }
    // &__slider {
    //    height: 100%;
    //     img {
    //        max-width: 100%;
    //        height: auto;
    //     }

    //     // transform: translateX(82px);
    // }
}
.menu {
    &__icon {}
    &__body {
        max-width: 865px;
    }
    &__list {
        display: flex;
    }
    &__item {
        &:not(:last-child) {margin: 0px 39px 0px 0px;};
    }
    &__link {
        line-height: 15px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.lang-header {
    &__select {}
    &__item {}
}

.menu__list.menu-top {
    justify-content: center;
    padding-bottom: 18px;
}

.menu-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 16px;
}











//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

 .parent {
     display: flex;
 }